
html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
.mui-content {
    height: 100%;
    overflow: auto; 
}

.mui-active{
	background: #fff !important;
}
.mui-title{
	height: .89rem!important;
	line-height: .89rem!important;
}
.backIcon{
	width:.5rem;
	height:.89rem;
	display:inline-block;
	float: left;
	background:url(../../iconAll/img/arrow.png) left center no-repeat;
	background-size:50% 50%;
}

input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea{
	margin: 0;
	padding: 0;
	border: none;
	background: none;
}
.mui-content>.mui-table-view:first-child{
	margin-top: 0 !important;
}
.mui-icon-arrowleft:before {
    color: #fff!important;
}

input[type=text]{
	font-size: 0.28rem !important;
	color:#444;
	width: 5.1rem;
}
.line_top{
   border-top: 1px solid #eee;
}
.line_bottom{
	border-bottom: 1px solid #eee;
}
textarea{
	font-size: 0.28rem !important;
	color:#444;
}
textarea::-webkit-input-placeholder,
input[type=text]::-webkit-input-placeholder{ /* WebKit browsers */
    color:    #ccc;
}
textarea:-moz-placeholder ,
input[type=text]:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
    color:    #ccc;
}
textarea::-moz-placeholder,
input[type=text]::-moz-placeholder{ /* Mozilla Firefox 19+ */
    color:    #ccc;
}
textarea:-ms-input-placeholder,
input[type=text]:-ms-input-placeholder{ /* Internet Explorer 10+ */
    color:    #ccc;
}
header {
    background-color: #fff !important;
    /*box-shadow: 0 0 0 !important;*/
    height: 0.89rem !important;
	border-bottom: 1px solid #eee!important;
	box-shadow: 0 4px 5px -3px #eee!important;
}
.title {
    color: #000 !important;
    font-size: 0.36rem !important;
}
.arrList{
	width: 100%;
	padding: 0 0.2rem !important;
	height: 100% !important;
}
.arrList>a {
    height: 100%;
    line-height: 0.98rem;
    padding: 0 !important;
    margin: 0 !important;
    color: #444 !important;
    font-size: 0.3rem ;
}
.arrList>a>span {
    font-size: 0.3rem;
    color: #444 !important;
    padding-left: 0.47rem;
    background-repeat: no-repeat;
}
.mui-table-view-cell:after{
	background-color: #fff!important;
	height: 0!important;
}
.speak{
	background-image: url(../../iconAll/img/gany.png);
    background-size: 0.34rem 0.33rem;
}
.reporter{
	background-image: url(../../iconAll/img/huibaor.png);
    background-size: 0.34rem 0.34rem;
}
.taskCont{
	background-image:url(../../iconAll/img/work_con.png);
	background-size: 0.34rem 0.32rem;
}
.problematical{
	background-image:url(../../iconAll/img/went.png);
	background-size: 0.34rem 0.34rem;
}
.praise{
	background-image:url(../../iconAll/img/bioay.png);
	background-size: 0.32rem 0.36rem;
}
.plan{
	background-image:url(../../iconAll/img/jihua.png);
	background-size: 0.35rem 0.35rem;
}
/*抄送*/
.notice{
	background-image: url(../../iconAll/img/cs.png);
    background-size: 0.32rem 0.34rem;
}

.speak-box>div,
.taskCont-box>div,
.problematical-box>div,
.praise-box>div,
.plan-box>div{
	padding-left: 0.36rem;
}
.notice-box{
	min-height: 2.18rem!important;
}
.noticeIcon{
	display: inline-block;
	width: 1rem;
	padding-top: 0.4rem;
	margin-left: .2rem;
	
}
.noticeIcon>span{
	display: block;
	width: 1rem;
	height: 1rem;
	border-radius:50%;
	overflow: hidden;
	background: url(../../iconAll/img/jia.png)top no-repeat;
	background-size:100% 100% ;
}
.noticeIcon>p{
	width: 1rem;
	line-height: 0.24rem;
	font-size: 0.24rem;
	padding-top: 0.24rem;
	text-align: center;
	color: #444;
}
.deleteThis{
	position: absolute;
	top: 0.26rem;
	right:0;
	width: 100%;
	height:0.4rem;
	background: url("../../iconAll/img/sc.png")right no-repeat;
	background-size: 0.3rem 0.3rem;
}
.copyToIcon{
	display: block;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	overflow: hidden;
	background: url("../../iconAll/img/1.png")top no-repeat !important;
	background-size: 100% 100% !important;
}
/*提交*/
.button{
	height:2.46rem !important;
	text-align: center;
}
.button>button{
	width: 2.94rem;
	height: 0.8rem;
	text-align: center;
	color: #fff !important;
	background-size: 100% 100%;
	margin: 0.3rem 0.32rem 0 0.32rem;
	border: none !important;
	border-radius: .5rem;
	background: -ms-linear-gradient(top, #04a7ff,  #0486fe);/* IE 10 */
	background:-moz-linear-gradient(top, #04a7ff,  #0486fe);/*火狐*/
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#04a7ff), to(#0486fe));/*谷歌*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#04a7ff), to(#0486fe));      /* Safari 4-5, Chrome 1-9*/
	background: -webkit-linear-gradient(top, #04a7ff, #0486fe);   /*Safari5.1 Chrome 10+*/
	background: -o-linear-gradient(top, #04a7ff, #0486fe);
	
}
.personal_icon{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    overflow: hidden;
    background-image: url(../../iconAll/img/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0!important;
}
.notice-cont{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	flex-direction: row;
	padding-left: .26rem;
	padding-bottom: .2rem;
}
.personal_box{
	padding-top: .4rem;
	margin-left: .2rem;
}
.personal_name{
	width: 1rem;
    line-height: 0.24rem;
    font-size: 0.24rem;
    display: inline-block;
    padding-top: 0.24rem;
    text-align: center;
    color: #444;
}
