html,body{
	width: 100%;
	height: 100%;
}
*{
	touch-action: none;
}
.contentBox {
    padding-top: .89rem;
}
.swiper-container {
    background-color: #f2f2f2;
}
header {
	height: 3.09rem !important;
	color: #000;
	width: 100%;
	background-color: #fff !important;
	position: fixed;
	z-index: 99;
	padding: 0 !important;
}
.head{
	height: 0.89rem;
	padding: 0 0.2rem;
	border-bottom: 1px solid #eee;
	box-shadow: 0 4px 5px -3px #eee;
	margin-bottom: .1rem;
}
.title{
	text-align: center;
	font-size: .36rem;
	color: #000 !important;
}
.mui-table-view:before{
	background-color: #fff!important;
}
.back{
	width: .5rem;
	height: .89rem;
	display: inline-block;
	float: left;
	background: url(../../iconAll/img/arrow.png) left center no-repeat;
	background-size: 50% 50%;
}

/*搜索部分*/
.search-box {
    padding: 0.27rem 0.3rem;
    height: 1.2rem !important;
    background: #fff !important;
}
.search-box>span {
    width: 100%;
    display: block;
    background-color: #f2f2f2 !important;
    height: 0.66rem !important;
    border-radius: 9.99rem;
    line-height: 0.66rem;
    overflow: hidden;
    padding-left: 0.60rem;
    background-image: url(../../iconAll/img/search-icon.png)!important;
    background-repeat: no-repeat;
    background-position: 0.26rem;
    background-size: 0.32rem 0.31rem;
}
.search-box>span>input[type=text] {
    border: none !important;
    padding: 0 0.15rem !important;
    height: 0.66rem;
    background: none !important;
    font-size: 0.28rem;
    color: #444;
}
/*时间筛选*/
.mui-bar-nav ~ .mui-content {
    padding-top: 3.11rem !important;
}
.select-time{
	width: 100%;
	height: 1rem;
	background-color:#fff;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}
.select-time>small{
	display:block;
	float: left;
	width: 0.04rem;
	height: 0.42rem;
	background-color:#f2f2f2 ;
	margin-top: 0.32rem;
}
.start-time,.end-time{
	height: 1rem;
	line-height: 1rem;
	float: left;
	width: 49%;
	text-align: center;	
}
.start-time>span,.end-time>span{
	display: inline-block;
	*display: inherit;
	*zoom: 1;
	width: 0.3rem;
	height: 0.3rem;
	background-repeat:no-repeat ;
	background-size:100% 100% ;
	vertical-align: -4%;

}
.start-time>span{
	background-image:url(../../iconAll/img/select-time.png) ;
}
.end-time>span{
	background-image:url(../../iconAll/img/end-time.png) ;
	}
	
.start-time>a,.end-time>a{
	height: 0.90rem;
	font-size: 0.3rem;
	color:#444;
	padding:0 0.44rem 0 0 ;
	background-image:url(../../iconAll/img/icon-spec.png);
	background-repeat:no-repeat ;
	background-position: right;
	background-size: 0.2rem 0.12rem;
	background-color: #fff;
    border: none;
}
/*全部列表*/
.listInfo{
	width: 100%;
}
p{
 margin-bottom:0 ;	
}
.personalInfo{
	width: 100%;
	height:1.18rem ;
	margin-top: 0.1rem;
	padding: 0 0.2rem;
	background-color:#fff ;
}
.infoLeft{
	float: left;
	width: 4.4rem;
	height: 1.18rem;
	line-height: 1.18rem;
	vertical-align: middle;
}
.infoLeft>span{
	display: inline-block;
	padding-left: 0.42rem;
	background-image:url(../../iconAll/img/icon-ddh.png);
	background-position:left ;
	background-size:0.28rem 0.34rem ;
	background-repeat: no-repeat;
	color:#04a7ff;
	font-size: 0.28rem;
}
.infoLeft>small{
	width: 30%;
	color:#04a7ff;
	font-size: 0.28rem;
}
.infoRight{
	float: left;
	width: 2.6rem;
	height: 1.18rem;
	line-height: 1.18rem;
	vertical-align: middle;
	overflow: hidden;
	
}
.infoRight>span{
	display: inline-block;
	padding-left: 0.42rem;
	background-image:url(../../iconAll/img/icon-khxm.png);
	background-position:left ;
	background-size:0.29rem 0.28rem ;
	background-repeat: no-repeat;
	font-size: 0.28rem;
	color: #444;
}
.infoRight>small{
	/*width: 30%;*/
	width: 0.9rem;
	color: #444;
	font-size: 0.28rem;
	display: inline-block;
	white-space: nowrap;
}
/*加载数据提示*/
.loadPrompt{
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	display: none;
}
.loadPrompt>p{
	width: 100%;
	height: 100%;
}
.loadPrompt>p>span{
	display: inline-block;
	*display:inline;
	*zoom: 1;
	width: 0.3rem;
	height: 0.3rem;
	vertical-align: -5%;
	margin-left: 0.1rem;
}