html,
body {
	height: 100%;
	width: 100%;
}
ul,
li {
	list-style: none;
	padding: 0;
}

.head {
	padding: 0 0.2rem;
}

.mui-bar-nav {
	background-color: #fff !important;
	border-bottom: 1px solid #eee!important;
	box-shadow: 0 4px 5px -3px #eee!important;
	height: 0.89rem !important;
	padding: 0 !important;
}

.title {
	color: #000 !important;
	font-size: 0.36rem !important;
	height: 0.89rem !important;
	line-height: 0.89rem !important;
}

.backIcon {
	width: .5rem;
	height: .89rem;
	display: block;
	float: left;
	background: url(../../iconAll/img/arrow.png) left center no-repeat;
	background-size: 50% 50%;
}

.popoverIcon {
    width: .8rem;
    height: .89rem;
    display: block;
    background: url(../../iconAll/img/icon_nav.png) 80% center no-repeat;
    background-size: 0.1rem 0.5rem;
}

#sliderSegmentedControl {
	background-color: #fff !important;
	padding: 0 .2rem 0 .2rem;
	background-color: #fff;
	/*border-bottom: 1px solid #f2f2f2;*/
	display: flex;
	margin-top: .96rem;
}

.myTab {
	font-size: 15px;
	display: block;
	width: 50%;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	color: #444444;
}

.mui-bar-nav~.mui-content {
	padding-top: 1.82rem;
	background-color: #fff;
}


/*时间轴*/


.boxTop {
	display: inline-flex;
	display: flex;
	width: 100%;
	margin-top: .3rem;
	justify-content: center;
}

.content {
	width: 6rem;
	height: 1.54rem;
	background-color: #c69450;
	border-radius: .1rem;
}

.time_xbox {
	text-align: center;
	width: 100%;

	overflow-x: auto;
	display: flex;
	position: relative;
	z-index: 8;
}

#sliderSegmentedControl {
	background-color: #fff;
	border-bottom: 1px solid #f2f2f2;
}

.time_box {
	position: relative;
	margin-top: 0.1rem;
	background-color: #fff;
	padding-bottom: 0.2rem;
	padding-top: 0.2rem;
	text-align: center;
}

.time_x {
	padding: 0;
	margin: 0;
}

.time_x li {
	width: .8rem;
	height: .8rem;
	border-radius: 50%;
	z-index: 1;
	display: inline-block;
	background-color: #ccc;
	border: 2px solid #dddddd;
}

.time_x li:not(:first-child) {
	margin-left: .2rem;
}

.time_x li p {
	font-weight: 300;
	color: #fff;
	font-size: 12px;
	width: .75rem;
	margin: 0;
	padding: 0;
	margin-top: .15rem;
	line-height: 0.2rem;
}

.time_x li span {
	font-weight: bold;
	color: #fff;
	font-size: .3rem;
	width: .65rem;
	height: .3rem;
	line-height: .35rem;
	top: 0;
	float: left;
	text-align: center;
}

.first {
	margin-left: 0;
}

.lin_div {
	width: 100%;
	height: 2px;
	background: -ms-linear-gradient(top, #04a7ff,  #0486fe);/* IE 10 */
	background:-moz-linear-gradient(top, #04a7ff,  #0486fe);/*火狐*/
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#04a7ff), to(#0486fe));/*谷歌*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#04a7ff), to(#0486fe));      /* Safari 4-5, Chrome 1-9*/
	background: -webkit-linear-gradient(top, #04a7ff, #0486fe);   /*Safari5.1 Chrome 10+*/
	background: -o-linear-gradient(top, #04a7ff, #0486fe);
	top: .6rem;
	position: absolute;
	z-index: 5;
}

.befor_act {
	background-color: #ccc;
	border: 2px solid #dddddd;
}

.active {
	background: -ms-linear-gradient(top, #04a7ff,  #0486fe);/* IE 10 */
	background:-moz-linear-gradient(top, #04a7ff,  #0486fe);/*火狐*/
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#04a7ff), to(#0486fe));/*谷歌*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#04a7ff), to(#0486fe));      /* Safari 4-5, Chrome 1-9*/
	background: -webkit-linear-gradient(top, #04a7ff, #0486fe);   /*Safari5.1 Chrome 10+*/
	background: -o-linear-gradient(top, #04a7ff, #0486fe);
	border-color: #04a7ff !important;
}

.mui-slider .mui-slider-group {
	margin-top: .3rem!important;
}

.my_active {
	color: #04a7ff!important;
	border-bottom: 2px solid #04a7ff;
	background: 0 0;
	border-bottom: 2px solid #04a7ff!important;
}

.total_cont {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: .72rem;
	height: 5rem;
	text-align: center;
	font-size: .3rem;
	padding: 0 .2rem 0 .2rem;
	background-color: #fff;
	position: relative;
}

#item1mobile {
	margin-top: 1.1rem;
	width: 3.28rem;
	height: 3.28rem;
	background: url('../../iconAll/img/my.png') center center no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}

.cont_math {
	color: #b387fc;
	font-size: .40rem;
	position: absolute;
	top: 43%;
	left: 18%;
}

.btn_num,
#btn_num1 {
	width: .8rem;
	height: .8rem;
	border-radius: 50%;
	z-index: 1;
	background-color: #ccc;
	border: 2px solid #dddddd;
}

.btn_num,
#btn_num1 span {
	font-weight: bold;
	color: #fff;
	font-size: .3rem;
	width: .75rem;
	height: .7rem;
	line-height: .7rem;
	top: 0;
	float: left;
	text-align: center;
}

.btn_num {
	width: .8rem;
	height: .8rem;
	border-radius: 50%;
	z-index: 1;
	background-color: #ccc;
	border: 2px solid #dddddd;
}

.btn_num span {
	font-weight: bold;
	color: #fff;
	font-size: .3rem;
	width: .75rem;
	height: .7rem;
	line-height: .7rem;
	top: 0;
	float: left;
	text-align: center;
}



.contents {
	height: auto;
	/*padding-bottom: 0.56rem;*/
	background-color: #e5e5e5;
}

span {
	width: 0.5556rem;
	font-size: 0.2rem;
	letter-spacing: -0.03rem;
	text-align: left;
}

.performanceMsg {
	position: relative;
	width: 100%;
	height: auto;
}

.financing {
	width: 100%;
	height: calc(100vh - 1.71rem);
	overflow-y: auto;
	position: relative;
}

.mui-scroll-wrapper {
    position: initial;
   
}
.mui-popover {
    width:3rem;
 }       
.my_scroll{
     height: 1rem;	
}
.mui-popover .mui-scroll-wrapper {
	margin: 0!important;
	border-radius: 7px;
	background-clip: padding-box;
}


.my_cell{
    background-image:url(../../iconAll/img/yej.png);
    color: #444 !important;
    font-size: 0.3rem;
    padding-left: 1rem !important;
    background-repeat: no-repeat;
    background-size: 0.34rem 0.34rem;
    background-position: 0.25rem 40%;
}

#topPopover {
	position: fixed!important;
	top: 16px;
	right: 6px;
	height: .8rem;
}

.collect {
	width: 100%;
	height: 3.26rem;
	background: #fff;
	padding-top: 0.13rem;
}

.collectBox {
	width:3.5rem;
	height:3rem;
	background-image: url(../../iconAll/img/my.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.collectData {
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 3rem;
	font-size: 0.36rem;
	color: #b387fc;
}
#x_company{
	font-size: 0.2rem;
	color:#555;
	margin-left: .2rem;
	width: 2rem;
}
.echartsBox {
	width: 100%;
	background-color: #fff;
	margin-top: 0.2rem;
}

.echartsBoxOul {
	width: 100%;
	padding-bottom: 0.8rem;
	margin: 0;
}

.echartsBoxOul>li {
	position: relative;
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding: 0 0.2rem;
	display: flex;
	margin-top: 0.16rem;
}

.pillar {
	width: 0;
	height: 30px;
	box-shadow: 0 0 2px #5d5d5d;
	background-color: #6eb2fb;
	border-radius: 0.02rem;
}

.echartsName {
	font-size: 0.2rem;
	color: #6db2fa;
	letter-spacing: 0.01rem;
}

.echartsName {
	width: 1.4rem !important;
}

.echartsNumber {
	position: absolute;
	left: 1.89rem;
	top: 0;
	font-size: 0.2rem;
	color: #e85538;
	margin-left: 0.05rem;
	letter-spacing: -0.01rem;
}

.coord {
	padding-left: 0.81rem;
	display: flex;
}

.cartogram {
	position: relative !important;
	margin: 0;
	padding: 0;
}

.daily_content {
    display: block;
    padding-left: 0.6rem !important;
    background-image: url(../../iconAll/img/icon-ddh.png);
    background-repeat: no-repeat;
    background-size: 0.28rem 0.34rem;
    background-position: 0.2rem;
    font-size: 0.3rem;
    color: #444;
}
.mui-table-view-cell:after{
	left: 0;
}
/*footer*/

.footer {
	height: 0.56rem !important;
}