header{
    height: .89rem;
    line-height: .89rem;
    width: 100%;
    color: #fff;
    background-color: #c69450;
    position: fixed;
    z-index: 999;
}
.title{
    font-size: .36rem;
    right: 40px;
    left: 40px;
    display: inline-block;
    overflow:hidden;
    width:auto;
    margin:0;
    text-overflow:ellipsis;
    position:absolute;
    padding:0;
    text-align:center;
    white-space:nowrap;
}
.back{
    margin-left: .2rem;
    width: .5rem;
    height: .89rem;
    display: inline-block;
    float: left;
    background: url(../iconAll/img/arrow.png) left center no-repeat;
    background-size: 50% 50%;
}

.contentBox{
    padding-top: .89rem;
}

body{
    margin-bottom: 1.4rem;
}
label{
    color: #444;
    display: inline-block;
    font-size: .3rem;
    padding-left: .5rem;
}
.secondButt{
    margin-left: .2rem;
    margin-right: .2rem;
}
.red{
    color:#f00;
}
.swiper-container{
    background-color: #f2f2f2;
}
form{
    padding-bottom: 1rem;
    overflow: hidden;
    width: 100%;
    background-color:  #f2f2f2;
    height: 100%;
}
form>div{
    padding: 0 .2rem 0 .2rem;
    background-color: #fff;
}
form>div>label{
    background-repeat: no-repeat;
    background-position:0 center;
    background-size: .28rem .3rem;
}
form>div>input{
    width: 4.8rem;
}
.first>label{
    background-image: url(../iconAll/img/dindanh.png)
}
.item>label{
    background-image: url(../iconAll/img/kehu.png);
}
.money>label{
    background-image: url(../iconAll/img/down.png);
}
.remark{
    margin-top: .2rem;
    background-color: #fff;
}
.flex-container{
    padding-left: .1rem;
    text-align: center;
    background-color: #fff;
    flex-wrap: wrap;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    width: 100%;
    padding-bottom: .2rem;
}
.add{
    font-size: .3rem;
}
.conter{
    width: 6rem;
    padding-bottom: .1rem;
}
.other{
    border-bottom: 1px solid #eee;
    font-size: .3rem;
    line-height: .98rem;
    height: .98rem;
    width: 100%;
}
.copyPerson{
    margin-top: .2rem;
}
.copy{
    height: 1.5rem;
    text-align: center;
    display: flex;
    font-size: .3rem;
    align-items: center;
    padding-left: .5rem;
}
input{
    font-size: .3rem;
}
.littleLast{
    padding-top: .1rem;
    padding-bottom: .1rem;
    font-size: .3rem;
    border-bottom: 1px solid #eee;
}
.getMoney{
    color:#f00;
    width: 1.7rem;
    height: .5rem;
    float: right;
    padding-left: .05rem;
}
.selfitem{
    border-bottom: 1px solid #eee;
    color: #444;
    font-size: .3rem;
    line-height: .98rem;
    height: .98rem;
    width: 100%;
}
.littleLast p span {
    display: inline-block;
    margin-top: .1rem;
    color: #f00;
    width: 1.6rem;
    height: .5rem;
    float: right;
}
.add{
    margin-top: .2rem;
    background-color: #fff;
}
.copy2{
    font-size: .3rem;
    margin:.45rem .1rem .25rem .1rem;
    background-color: #ffc4d2;
    height: .5rem;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-border-radius: 20%;
}
.item2{
    border-bottom: 1px solid #eee;
    color: #444;
    font-size: .3rem;
    line-height: .98rem;
    height: .98rem;
    width: 100%;
}
.little2{
    color:#444;
    font-size: .28rem;
    line-height: .89rem;
    height: .98rem;
    border-bottom: 1px solid #eee;
}
.little2 span{
    display: inline-block;
    color:#f00;
}
.tit{
    display: inline-block;
    margin-top: .1rem;
}
.add img{
    width: .9rem;
    height: .9rem;
}
.text{
    padding-left: .45rem;
}
.radio+span{
    color: #999;
    font-size: 0.2rem;
}
.radio{
    width: .2rem;
    height: .2rem;
    border:.01rem solid #e4e4e5;
    background-color: #f1f1f1;
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: .14rem .1rem;
    margin-right: .12rem;
}

.all{
    width: 100%;
    height:1.18rem;
    line-height: 1.18rem;
}
.all p{
    float: right;
}
.color{
    color:red;
}
.same{
    width: 100%;
    height: 1.06rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-bottom: .01rem solid #f2f2f2;
}
.transB{
    width: .5rem;
    float: left;
}
.transB img{
    width: .3rem;
    height:.3rem;
    display: inline-block;
    vertical-align: middle;
}
.imgAll{
    margin-top: .1rem;
    width: .3rem;
    height:.3rem;
    display: inline-block;
    vertical-align: middle;
}
.moneyTotal div {
    padding: 0;
    line-height: .6rem;
    box-sizing: border-box;
    height: .6rem;
    display: flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}
.myself{
    color: #444;
    font-size: .3rem;
    line-height: .98rem;
    width: 100%;
    background-color: #fff;
}
.listBox2{
    overflow: hidden;
    background-color: #fff;
    width: 7.5rem;
}
.item{
    border-bottom: 1px solid #eee;
    color: #444;
    font-size: .3rem;
    line-height: .98rem;
    height: .98rem;
    width: 100%;
}
.listBox2 ul li{
    border-bottom: 1px solid #eee;
    color: #444;
    font-size: .3rem;
    line-height: .98rem;
    height: .98rem;
    width: 100%;
}
.little{
    color:#444;
    font-size: .28rem;
    padding-top: .2rem;
    height: .98rem;
    border-bottom: 1px solid #eee;
}
.little span{
    color:#f00;
}
form>.btns{
    height:1.75rem;
    border-bottom:none;
}
.theLast {
    background-color:  #f2f2f2;
    text-align: center;
    width: 100%;
    line-height: 2.0rem;
    height: 2.2rem;
}
.setColor {
    color: #f00;
}

.designerPort,.designeMon{
    width:1.6rem;
    color:#f00;
}
.desiner{
    margin-bottom: .1rem;
}
.text{
    overflow:hidden;
    resize:none;
    width:100%;
    height:1.18rem;
    padding-left: .5rem;
    padding-top: .1rem;
}
.theLast a{
    display: inline-block;
    border-radius: .08rem;
    -wibkit-border-redius:.08rem;
    -o-border-redius:.08rem;
    -moz-border-radius: .08rem;
    color: #fff;
    font-size: .3rem;
    background-color: #E4B877;
    width:30%;
    height:.88rem;
    line-height: .88rem;
}
.btns{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.btns>button{
    flex: 1;
    height: .88rem;
    margin: 0 .32rem;
    color: #fff;
    font-size: .3rem;
    background-color: #c69450;
    border-radius: .1rem;
}
.footer{
    position: fixed;
    bottom: -1px;
    left: 50%;
    z-index: 9999;
    transform: translateX(-50%);
    width: 7.5rem;
    height: 1rem;
    border-top: .01rem solid #e1e1e1;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.footer>div{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height:1rem;
    margin-top: .1rem;
    display: flex;
    justify-content: center;display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-top: -.25rem;
}
.footer a{
    display: block;
    height: 0;
    text-align: center;
    padding-top: .56rem;
    font-size: .2rem;
    font-family: '微软雅黑';
    color: #d4d4d4;
    border-radius: .1rem;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: .5rem;
}
.footer>div:nth-child(1)>a{
    background-image: url('../iconAll/img/index.png');
}
.footer>div:nth-child(2)>a{
    background-image: url('../iconAll/img/ty2.png');
}
.footer>div:nth-child(3)>a{
    background-image: url('../iconAll/img/ty3.png');
}
.footer>div:nth-child(1)>.bgActiv{
    color: #c69450;
    background-image: url('../iconAll/img/ty1.png');
}
.footer>div:nth-child(2)>.bgActiv{
    color: #c69450;
    background-image: url('../iconAll/img/index-1.png');
}
.footer>div:nth-child(3)>.bgActiv{
    color: #c69450;
    background-image: url('../iconAll/img/index-2.png');
}


