.search{
    top: .08rem;
}
.camera{
    top: .08rem;
}
html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
.radio{
    border: 1px solid #ccc;
    width: .3rem;
    height: .3rem;
    margin-right: .2rem;
}
.radio1 {
    border: 1px solid #ccc;
    width: .3rem;
    height: .3rem;
    margin-right: .2rem;
}
.radio-avtive {
    background-image: url(../iconAll/img/yess.png);
    background-size: .25rem .25rem;
    background-position: center center;
}
.same {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.mui-content {
    height: 100%;
    overflow: auto;
}
.mui-navigate-right:after, .mui-push-right:after {
    font-size: 0.5rem;
    right: 9px;
    content: '\e583';
    color: #007aff;
}
input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select{
    line-height: 21px;
    width: 100%;
    height: 40px;
    margin-bottom: 0!important;
    padding: 0 !important;
    -webkit-user-select: text;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
    outline: 0;
    background-color: #fff;
    -webkit-appearance: none;
}
.mui-title{
    font-size: .36rem;
    font-weight: 500;
    line-height: .89rem!important;
    position: absolute;
    display: block;
    width: 100%;
    margin: 0 -10px;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    color: #000;
}
header{
    height: .89rem!important;
    color: #fff!important;
    width: 100%!important;
    background-color: #fff!important;
    border-bottom: 1px solid #eee!important;
    box-shadow: 0 4px 5px -3px #eee!important;
    z-index: 99;
}
html,
body {
    height: 100%;
}
.mui-bar {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.mui-title{
    color:#000
}
img:not([src]) {
    opacity: 0;
}
.orderSchedule {
    position: absolute;
    right: 0.2rem;
    top: calc(50% - 25%);
    display: block;
    color: #fff;
    width: 1.76rem;
    height: 0.48rem;
    line-height: 0.48rem;
    text-align: center;
    border-radius: 0.05rem;
    font-size: 0.24rem;
    background: -ms-linear-gradient(top, #04a7ff,  #0486fe);/* IE 10 */
    background:-moz-linear-gradient(top, #04a7ff,  #0486fe);/*火狐*/
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#04a7ff), to(#0486fe));/*谷歌*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#04a7ff), to(#0486fe));      /* Safari 4-5, Chrome 1-9*/
    background: -webkit-linear-gradient(top, #04a7ff, #0486fe);   /*Safari5.1 Chrome 10+*/
    background: -o-linear-gradient(top, #04a7ff, #0486fe);
}
.back{
    width: .5rem;
    height: .89rem;
    display: inline-block;
    float: left;
    background: url(../iconAll/img/arrow.png) left center no-repeat;
    background-size: 50% 50%;
}
.personal_box {
    margin: 0 0.16rem;
    padding-top: .2rem;
}
.personal_icon {
    width: 0.89rem;
    height: 0.89rem;
    border-radius: 50%;
    overflow: hidden;
    background-image: url(../iconAll/img/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0!important;
}
.personal_name {
    width: 1rem;
    display: inline-block;
    margin-top: 0.1rem;
    color:#444;
}
main.container{
    margin-top: 0.89rem;
    position: relative;
    width:100%;
    height: 100%;
    background-color: #f2f2f2;
}
main div:empty::before{
    -webkit-user-select:text;
    color:#888;
    content: attr(placeholder);
}
.suggestion{
    overflow-y:scroll;
    resize:none;
    width:100%;
    min-height: 1.18rem;
    height:auto!important;
    padding: .1rem 0 .1rem .5rem;
    font-size: .28rem;
    color:#444;

}
.line_top{
    border-top:1px solid #f2f2f2;
}
.iput_img{
    width: 4.8rem;
    font-size: .3rem;
    margin-left: 2rem;
    position: absolute;
    top: 0;
}
.modle .item{
    position: relative;
}
.swiper-container{
    background-color:#f2f2f2;
}
.listBox{
    margin-top: .2rem;
    background-color: #fff;
    width: 7.5rem;
    height: 2rem;
    padding:0 .2rem 0 .2rem;
}
.medical_adv{
    padding: .2rem 0 .2rem .5rem;
    line-height: .4rem;
    min-height:1.5rem;
    font-size: .28rem;
    color: #444;
}
.listBox ul li{
    color: #444;
    font-size: .3rem;
    line-height: .98rem;
    height: .98rem;
    width: 100%;
}

.firstBox li{
    color: #444;
    font-size: .3rem;
    line-height: .98rem;
    height: .98rem;
    width: 100%;
    padding: 0 .2rem 0 .2rem;
}
.line_firs{
    border-bottom:1px solid #f2f2f2;
}
.myself{
    color: #444;
    font-size: .3rem;
    line-height: .98rem;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #f2f2f2;
}
.total{
    color:#f00;
    line-height: 1.14rem;
    height: 1.14rem;
    text-align: right;
}
.addItem{
    padding: 0 .2rem 0 .2rem;
    margin-top: .2rem;
    background-color: #fff;
}
.copy{
    width: 100%;
    padding-left: .5rem;
}
.add{
    float: left;
    background-color: #fff;
    width: 1rem;
    margin-right: .2rem;
}
.flex-container {
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    padding-left: .26rem;
    padding-bottom: .2rem;
}
.conter{
    width: 5.7rem;
    padding-bottom: .1rem;
}

.copy2{
    font-size: .3rem;
    margin:.45rem .1rem .01rem .1rem;
    background-color: #E4B877;
    height: .5rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-border-radius: 5%;
    padding: .1rem;

}
.add2{
    float: left;
    background-color: #fff;
    width: 1rem;
    height: 1.5rem;
    margin-right: .2rem;
}
.flex-container img{
    width: .96rem;
    height: .96rem;
}
.add img{
    width: 1rem;
    height: 1rem;
}
textarea{
    padding-left: .45rem;
}
/*回访建议*/
.backAdvice{
    margin-top: .2rem;
    width: 100%;
    background-color: #fff;
    padding:0 .2rem 0 .2rem;
}
.firstBox{
    background-color: #fff;
    width: 7.5rem;
    height:2rem;
}

.firstBox ul li:nth-child(1){
    border-bottom:.01rem solid #eee ;
}
/*备注*/
/*.item{*/
/*padding-left: .2rem;*/
/*}*/
.notice{
    height:auto;!important;
    margin-top: .2rem;
    width: 100%;
    background-color: #fff;
    padding:0 .2rem 0 .2rem;
}
textarea{
    overflow:hidden;
    resize:none;
    width:100%;
    min-height:1.18rem;
    color:#444;
    padding: .1rem 0 .1rem .5rem!important;
    margin-bottom: 0!important;
}
.transB{
    width: .5rem;
    height: .89rem;
    line-height: 0.89rem;
    float: left;
}
.transB img{
    width: .3rem;
    height:.3rem;
    display: inline-block;
    vertical-align: middle;
}
.listBox2{
    background-color: #fff;
    width: 7.5rem;
    padding:0 .2rem 0 .2rem;
}
.listBox3{
    background-color: #fff;
    width: 7.5rem;
    padding:0 .2rem 0 .2rem;
}

#upfile{
    border: none;
    position: absolute;
    color: transparent;
    display: inline-block;
    height: 2.1rem;
    opacity: 0;
    left: .7rem;
    width: 1.6rem!important;
    z-index: -1;
}
#upfile1{
    border: none;
    position: absolute;
    color: transparent;
    display: inline-block;
    height: 2.1rem;
    width: 1.6rem!important;
    z-index: -1;
    opacity: 0;
    left: 2.95rem;
}
#upfile2{
    border: none;
    position: absolute;
    display: inline-block;
    color: transparent;
    opacity: 0;
    height: 2.1rem;
    left: 5.22rem;
    width: 1.6rem!important;
    z-index: -1;
}
.red{
    color:#f00;
}
.item,.item2,.click{
    border-bottom:  1px  solid #eee;
    color: #444;
    font-size: .3rem!important;
    line-height: .98rem;
    width: 100%;
}
.makePage{
    color: #444;
    background-color: #fff;
    border-bottom: 1px  solid #eee ;
    border-top: 1px solid #eee;
    padding: 0 .2rem 0 .2rem;
}
.backseggestion{
    border-bottom:1px solid #eee;
    margin-top: .2rem;
    background-color: #fff;
    padding-left: .2rem;
    color: #444;
    font-size: .3rem;
    line-height: .98rem;
    height: .98rem;
    width: 100%;
}
.listBox2 ul li{
    border-bottom: 1px solid #eee;
    color: #444;
    font-size: .3rem;
    line-height: .98rem;
    height: .98rem;
    width: 100%;
}
.listBox2>div{
    border-bottom: 1px solid #eee;
    color: #444;
    font-size: .28rem;
    padding-top: .1rem;

}
.listBox2>div:last-child{
    border-bottom: none;
}
.little,.littleLast{
    color:#444;
    font-size: .28rem;

}
.listBox3 div{
    color:#444;
    font-size: .28rem;
    line-height: .89rem;
    height: .98rem;
    border-bottom: 1px solid #eee;
}
.listBox3 div:last-child{
    border-bottom:none;
}
.little span{
    display: inline-block;
    margin-top: 0;
    color:#f00;
}
.little2 span{
    display: inline-block;
    color:#f00;
}
.littleLast span{
    display: inline-block;
    margin-top: 0.1rem;
    color:#f00;
}
.left-nav>ul>.bgColor{
    background-color: #f2f2f2;
}
.content{
    position: absolute;
    top: .3rem;
    right: .1rem;
    width: 7.5rem;
    height: 2rem;
    overflow: hidden;
    font-size: .24rem;
    opacity: 0;
    z-index: 1;
}
.block{
    opacity: 1;
    z-index: 99;
}
/* 区域滚动 */
.content .swiper-slide {
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.theLast{
    text-align: center;
    line-height: 1.75rem;
    padding:0 .2rem 0 .2rem;
    width: 100%;
    height: 2.75rem;
    margin-bottom: 0;
}
.theLast a{
    border-radius: .5rem;
    display: inline-block;
    color: #fff;
    font-size: .3rem;
    background: -ms-linear-gradient(top, #04a7ff,  #0486fe);/* IE 10 */
    background:-moz-linear-gradient(top, #04a7ff,  #0486fe);/*火狐*/
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#04a7ff), to(#0486fe));/*谷歌*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#04a7ff), to(#0486fe));      /* Safari 4-5, Chrome 1-9*/
    background: -webkit-linear-gradient(top, #04a7ff, #0486fe);   /*Safari5.1 Chrome 10+*/
    background: -o-linear-gradient(top, #04a7ff, #0486fe);
    width:50%;
    height:.8rem;
    line-height: .8rem;
}
.btn2{
    margin-left: .2rem;
    margin-right: .2rem;
}
.extrBox{
    margin-top: .2rem;
    background-color: #fff;
    width: 7.5rem;
    padding:0 .2rem 0 .2rem;
  
}

#listPho{
    width: 100%;
    height: 4.28rem;
    padding-bottom: .2rem;
}
.priceTa{
    display: inline-block;
    margin-top:.1rem ;
}
/*.little2 {*/
    /*padding: .2rem 0!important;*/
/*}*/
.moneyTotal{
    width: 100%;
}
.price_project {
    width: 2rem;
    margin-left: .5rem;
}
p {
    font-size: .3rem!important;
    margin-top: 0;
    margin-bottom: 0!important;
    color: #444!important;
}
.moneyTotal div{
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    height: 1.13rem;
    line-height:1.13rem;
    padding-right: .2rem;
}
.moneyTotal div{
    border-bottom:1px solid #F2F2F2;
}
.moneyTotal p span {
    color: #f00;
    width:1.3rem;
    float: right;
}
.setColor{
    color:#f00;
}
.setColor input{
    font-size: .3rem;
    width: 1.3rem;
    color:#f00;
}
.setColor input::-webkit-input-placeholder {
    color:gray;
}
.setColor input:-moz-placeholder {
    color:gray;
}

#listPho{
    overflow: hidden !important;
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    display: flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -webkit-justify-content: center;
    justify-content: center;
}

input{
    width: 1.6rem;
}
#listPho li{
    width: 1.6rem;
    height: 2.5rem;
    text-align: center;

}
#listPho li a{
    overflow: hidden;
    border: .01rem dashed #eee;
    display: inline-block;
    width: 1.6rem;
    height: 2.1rem;
}
.tit{
    display: inline-block;
    margin-top: .1rem;
}
#listPho li:nth-child(2){
    margin:0 .64rem 0 .64rem
}
#listPho li span img{
    border: none;
    height: 2.1rem;
    width:1.6rem;
    display: inline;
    float: left;
}
.contentBox{
    padding-top: .89rem;
}
.addPhoto{
    width: .66rem;
    height: .66rem;
    background-image: url("../iconAll/img/addphoto.png");
    background-color: #fff;
    background-size:.66rem .66rem;
}
.footer{
    position: fixed;
    bottom: -1px;
    padding-top: .1rem;
    left: 50%;
    z-index: 9999;
    transform: translateX(-50%);
    width: 7.5rem;
    height: 1rem;
    border-top: .01rem solid #e1e1e1;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.footer>div{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height:1rem;
    margin-top: .1rem;
    display: flex;
    justify-content: center;display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-top: -.5rem;
}
.footer a{
    display: block;
    height: 0;
    text-align: center;
    padding-top: .49rem;
    font-size: .2rem;
    font-family: '微软雅黑';
    color: #d4d4d4;
    border-radius: .1rem;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: .5rem;
}
.footer a span{
    margin-top: 1rem;
}
.footer .bgActiv{
    color:#c69450;
}
.footer>div:nth-child(1)>a{
    background-image: url('../iconAll/img/index.png');
}
.footer>div:nth-child(2)>a{
    background-image: url('../iconAll/img/ty2.png');
}
.footer>div:nth-child(3)>a{
    background-image: url('../iconAll/img/ty3.png');
}
.footer>div:nth-child(1)>.bgActiv{
    background-image: url('../iconAll/img/ty1.png');
}
.footer>div:nth-child(2)>.bgActiv{
    background-image: url('../iconAll/img/index-1.png');
}
.footer>div:nth-child(3)>.bgActiv{
    background-image: url('../iconAll/img/index-2.png');
}
.page_port{
    width:100%;!important;
    min-height:1.5rem!important;
    padding: .1rem .2rem .1rem .5rem!important;
    font-size: .3rem;
    color: #444;
}

.div_box1{
    background-color: #fff;
}
.op_byself{
    padding-left: .2rem;
    border-top:1px solid #eee;
    border-bottom: 1px solid #eee;
    color: #444;
    font-size: .3rem;
    line-height: .98rem;
    height: .98rem;
    width: 100%;
    background-color: #fff;
}
.thouhght{
    padding-bottom: .2rem;
    background-color: #fff;
}
.a-upload,.a-upload1{
    width: 1.6rem;
    height:2.2rem;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: .01rem solid #ddd;
    *display: inline;
    *zoom: 1;
    text-decoration: none;
    line-height:.80rem;
    text-align: center;
    font-size: 1rem;
}

.a-upload span input {
    width: 1.6rem;
    height: 2rem;
    position: absolute;
    font-size: 1rem;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}
.a-upload1 span input {
    width: 1.6rem;
    height: 2rem;
    position: absolute;
    font-size: 1rem;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.noticeIcon,.addIcon {
    display: inline-block;
    width: 1rem;
    margin-left: 0.2rem;
    padding-top: 0.2rem;
}

.notice-cont {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    padding-left: .26rem;
    padding-bottom: .2rem;
}
.noticeIcon, .addIcon {
    display: inline-block;
    width: 1rem;
    margin-left: 0.2rem;
    padding-top: 0.4rem;
}
.noticeIcon>span,.addIcon>span {
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    overflow: hidden;
    background-size: 100% 100%;
}

.noticeIcon>p,.addIcon>p {
    width: 1rem;
    line-height: 0.24rem;
    font-size: 0.24rem;
    padding-top: 0.24rem;
    text-align: center;
    color: #444;
}
.notice-cont{
    width: 100%;
}
.deleteThis {
    position: absolute;
    top: 0.26rem;
    right: 0;
    width: 100%;
    height: 0.4rem;
    background: url(../iconAll/img/sc.png)right no-repeat;
    background-size: 0.3rem 0.3rem;
}
.copyToIcon {
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    overflow: hidden;
    background: url(../iconAll/img/1.png)top no-repeat !important;
    background-size: 100% 100% !important;
}
.noticeIcon>p, .addIcon>p {
    width: 1rem;
    line-height: 0.24rem;
    font-size: 0.24rem;
    padding-top: 0.24rem;
    text-align: center;
    color: #444;
}


.upfile{
    border: none;
    position: absolute;
    color: transparent;
    display: inline-block;
    height: 2.1rem;
    opacity:1;
    width: 1.6rem!important;
    /*z-index: -1;*/
    left:0;
}
.advice{
    background-color: #fff;
    width: 100%;
}
.righticon{
    float: right;
    display: inline-block;
    width: .6rem;
    align-content: center;
    height: .8rem;
    line-height: .8rem;
    padding-left: .2rem;
}
.righticon img{
    vertical-align: middle;
    display: inline-block;
}
.ulPhoto{
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    display: flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.ulPhoto li{
    display: flex;
    justify-content: center;
    width: 1.6rem;
    height: 2.1rem;
    text-align: center;
    margin: 0.64rem 0.32rem;
}
.ulPhoto li:nth-child(1){
    margin-left: .64rem;
}
.ulPhoto>li:last-child{
    margin-right: .64rem;
}
.ulPhoto li a{
    overflow: hidden;
    border: 1px dashed #eee;
    display: inline-block;
    /*background: #fff url(../iconAll/img/addphoto.png) center center no-repeat;*/
    width: 1.6rem;
    line-height: 2.1rem;

}
.ulPhoto li a span img{
    border: none;
    height: 2.1rem;
    width: 1.6rem;
    display: inline;
    background-color: #fff;
    margin-top: .02rem;
}

.medical_wr,.face_ty,.notice_con,.modle{
    margin-top: .2rem;
    padding: 0 .2rem 0 .2rem;
    background-color: #fff;
}
.medical_wr input{
    width: 3.5rem;
    height: .65rem;
    font-size: .3rem;
    padding-left: .1rem;
}
select, textarea,
input[type='text'],
input[type='search'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='tel'],
input[type='color'] {
    font-size: .3rem;
    border: none!important;
}

.face_ty input{
    padding-left: .2rem;
    width: 4.5rem;
    height: .89rem;
    font-size: .3rem;
}
.medical_con{
    height: .89rem;
    width: 100%;
    line-height: .89rem;
    border-bottom: 1px solid #f2f2f2;
    color:#444;
    font-size: .3rem;
}

.modle input{
    padding-left: .1rem;
    width: 4.5rem;
    height: .89rem;
    font-size: .3rem;
}


.transB1 {
    width: .5rem;
    height: .7rem;
    float: left;
}
.transB1 img {
    width: .4rem;
    height: .4rem;
    display: inline-block;
    vertical-align: middle;
}

.righticon {
    float: right;
    display: inline-block;
    width: .6rem;
    align-content: center;
    height: .8rem;
    line-height: .8rem;
    padding-left: .2rem;
}
.righticon img {
    vertical-align: middle;
    display: inline-block;
}
.notice_cervice{
    height: auto;
    background-color: #fff;
    padding: 0 0.2rem;
    margin-bottom: 0.2rem;
    border-top: 1px solid #eee;
}


.icon_com {
    color: #444;
    display: inline-block;
    width: .66rem;
    height: .9rem;
    font-size: .3rem;
    /* padding-left: .5rem; */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 0.28rem 0.3rem;
    background-image: url(../iconAll/img/zenso.png);
}
.icon_com2{
	 background-image: url(../iconAll/img/additem.png) !important;
}
.mui-table-view-cell>a:not(.mui-btn), .mui-table-view-cell>p{
    font-size: .3rem;
    height: .89rem;
    line-height: .89rem;
    margin: 0!important;
    text-align: left;
    color: #444;
}

.mui-table-view-cell {
    position: relative;
    overflow: hidden;
    padding: 0;
    -webkit-touch-callout: none;
    height: auto!important;
    width: 100%;
}
.mui-table-view-cell.mui-active {
    background-color: #fff;
}
.mui-collapse {
    border-top: 1px solid #eee;
}
.mui-table-view:before {
    height: 0!important;
}
.mui-table-view:after {
    height: 0!important;
}
.line_box:first-child{
	border-top: 1px solid #eee;
}
.line_box {
   
    float: left;
    width: 100%;
}

.flex-container {
    text-align: center;
    background-color: #fff;
    flex-wrap: wrap;
    -webkit-flex-direction: inherit;
    flex-direction: inherit;
    width: 100%;
    padding: 0 0 0.2rem 0 !important;
}
.color_name {
    color: #0486fe  !important;
}
.color_name {
    height: .5rem;
    line-height: .5rem;
    width: 4.5rem;
    float: left;
    text-align: left;
    font-size: 0.28rem;
    color: #0486fe  !important;
}
.set_mon, .intre_mon {
    width: 100%;
    height: .5rem;
    line-height: .5rem;
    color: #f00;
    text-align: left;
    float: left;
    font-size: 0.28rem;
}

.editbox, .editbox1, .editbox2 {
    width: 100%!important;
    height: 2rem!important;
    border: 1px solid #eee!important;
    margin-top: 0!important;
    font-size: .3rem;
    float: right;
    padding-left: .2rem!important;
}
.mui-table-view-cell.mui-collapse .mui-collapse-content {
    padding:0px 0.3rem;
    margin:1px -15px -11px;
    
}
.mui-table-view-cell.mui-collapse .mui-table-view {
    margin: 0 0 0.2rem 0 !important;
}
.mui-navigate-right:after, .mui-push-right:after {
    font-size: 0.5rem;
}
.get_Money,.get_Money1{
    float: left;
    height: .5rem;
    line-height: .5rem;
    /*margin-left: .5rem;*/
    text-align: left;
    font-size: .28rem!important;
}

.color_place{
    height: .5rem!important;
    width: 4rem!important;
    color: #f00;
}