.mintui-back:before {
    content: "\E600";
    color: #04a7ff!important;
}
.mint-header-title{
    color: #444;
}
.mint-button-text{
    color: #04a7ff;
}
.mint-header {
    // background-color: #fff !important;
    border-bottom: 1px solid #eee!important;
    box-shadow: 0 3px 6px 2px #eee!important;
}