
/*head*/
html,body{
	width: 100%;
	height: 100%;
}
header{
	padding: 0 !important;
	height: .89rem!important;
	line-height: .89rem!important;
	color: #000!important;
	width: 100%!important;
	position: fixed!important;
	z-index: 99;
	border-bottom: 1px solid #eee!important;
	box-shadow: 0 4px 5px -3px #eee!important;
	background-color: #fff!important;
}
.head{
	padding: 0 .2rem;
	height: .89rem!important;
	border-bottom: 1px solid #eee!important;
	box-shadow: 0 4px 5px -3px #eee!important;
}
.mui-bar .mui-segmented-control {
	top: 5px;
}

.mui-bar-nav~.mui-content {
	padding-top:1.92rem;
	height: 100%;
	background-color: #fff;
}
#slider{
	height: 100%;
}
/*tab*/
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
	border-bottom: 2px solid #c69351;
}

.dailyList{
	display: none;
}


.mui-scroll-wrapper {
	position: absolute;
	z-index: 2;
	top: 0;
	bottom: 0;
	left: 0;
	overflow: inherit;
}


/*********/
.searchIcon{
	display: block;
	width: 0.41rem;
	height: 0.41rem;
	background-image: url(../iconAll/img/ss.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-top: 0.24rem;
	margin-bottom: 0.24rem;
	z-index: 9999;	
	margin-right: 0.22rem;
}

.popupMenu{
	display: block;
	width: 0.41rem;
	height: 0.41rem;
	background-image:url(../iconAll/img/tianjia.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin-top: 0.24rem;
	margin-bottom: 0.24rem;
	margin-left: 0.22rem;
}
.backIcon{
	width: .5rem;
    height: .89rem;
    display: inline-block;
    float: left;
    background: url(../iconAll/img/arrow.png) left center no-repeat;
    background-size: 50% 50%;
}
.mui-control-content {
	background-color: white;
	height: 100%;
	/*min-height: calc(100vh - 1.89rem);*/
	/*min-height:calc(100vh - 2.92rem);*/
}

.mui-control-content .mui-loading {
	margin-top: 50px;
}

.header-box {
	height: 0.89rem;
	background-color: #c69351;
	box-shadow: 0 0 0;
}

.backIcon,
.popoverIcon,
.searchIcon {
	color: #fff;
}

.mui-icon-plusempty:before {
	font-weight: bolder;
}

.title {
	color: #000;
	font-size: 0.36rem;
	height: 0.89rem !important;
	line-height: 0.89rem !important;
	left: 1.6rem !important; 
	right: 1.6rem !important;
}

.scrol-box {
	width: 3rem;
	right: 0;
}

.mui-table-view-cell:after {
	left: 0;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
	color: #c69351;
}

.mui-segmented-control.mui-segmented-control-inverted~.mui-slider-progress-bar {
	background-color: #c69351;
}

#sliderSegmentedControl {
	background-color: #fff;
	border-bottom: 1px solid #f2f2f2;
}
.myTab{
	display: inline-block;
	float: left;
	width: 33%;
	text-align: center;
	color: #444444;
}
.my_active {
	color: #04a7ff!important;
	border-bottom: 2px solid #04a7ff;
	background: 0 0;
	/*border-bottom: 2px solid #c69351!important;*/
}

.list-icon {
	display: inline-block;
	*display: inherit;
	*zoom: 1;
	width: 0.32rem;
	height: 0.35rem;
	vertical-align: -3%;
}

.mui-table-view .mui-media-object {
	max-width: none;
	height: 0.35rem;
}

.list_box {
	height: 0.98rem;
	line-height: 0.98rem;
	padding: 0 0.2rem;
	font-size: 0;
	border-bottom: 1px solid #e5e5e5;
}

.daily_content {
	font-size: 0.3rem;
	color: #444;
	margin: 0;
	padding: 0;
	padding-left: 0.15rem;
}

.date {
	font-size: 0.3rem;
	color: #444;
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {
	border-top: none;
	border-bottom: none;
}

.dropDownIcon {
	color: #444 !important;
	font-size: 0.3rem;
	padding-left: 1rem !important;
	background-repeat: no-repeat;
	background-size: 0.34rem 0.34rem;
	background-position: 0.25rem 40%;
}

.market {
	background-image: url("../iconAll/img/sc_icon.png");
}

.duty {
	background-image: url("../iconAll/img/rb.png");
}

.work {
	background-image: url("../iconAll/img/gz.png");
}

/*右上角弹出菜单*/
.mui-plus header.mui-bar {
	display: none!important;
}
.mui-plus .mui-bar-nav~.mui-content {
	padding: 0!important;
}

.mui-plus .plus{
	display: inline;
}

.plus{
	display: none;
}

#topPopover {
	position: fixed;
	top: 16px;
	right: 6px;
}
#topPopover .mui-popover-arrow {
	left: auto;
	right: 6px;
}
p {
	text-indent: 22px;
}
span.mui-icon {
	font-size: 14px;
	color: #007aff;
	margin-left: -15px;
	padding-right: 10px;
}
.mui-popover {
	height: 300px;
}
.mui-popover{
	width: 3rem;
	height: 1.29rem;
}

