html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; } /* remember to define focus styles! */ :focus { outline: 0; } body { line-height: 1; color: black; background: white; } ol, ul { list-style: none; } /* tables still need 'cellspacing="0"' in the markup */ table { border-collapse: separate; border-spacing: 0; } caption, th, td { text-align: left; font-weight: normal; } blockquote:before, blockquote:after, q:before, q:after { content: ""; } blockquote, q { quotes: "" ""; }
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	outline: none;
	border: none;
	font-size: .24rem;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}
body::-webkit-scrollbar{
width:0;
height:0;
}
html,body,.container{
	width: 7.5rem;
	margin: 0;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #fff;
	-ms-touch-action: none;
	font-family: '微软雅黑';
}

img{
	display: block;
}
a:hover{
    -webkit-tap-highlight-color: transparent;
}

.mui-navigate-right:after, .mui-push-right:after {
	font-size: 0.5rem;
	right: 9px;
	content: '\e583';
	color: #007aff;
}
.search {
	top: .08rem;
}

.camera {
	top: .08rem;
}
div:empty:before{
	content: attr(placeholder);
	color:#bbb;
}
div:focus:before{
	content:none;
}
.mui-bar {
	height: .89rem;
	line-height: .89rem;
	width: 100%;
	color: #000;
	background-color: #fff;
	border-bottom: 1px solid #eee!important;
	box-shadow: 0 4px 5px -3px #eee!important;
	position: fixed;
}
.text,.text1,.text2{
	padding-left: .7rem!important;
	padding-top: .1rem;
	min-height: 1.2rem!important;
	width:100%;
	line-height:.5rem;
	color:#444;
	-webkit-user-select:auto;!important;
	user-modify: read-write-plaintext-only!important;
	font-size: .3rem;
}
.title {
	font-size: .36rem;
	right: 40px;
	/*left: 40px;*/
	display: inline-block;
	overflow: hidden;
	width: auto;
	margin: 0;
	color: #000!important;
	text-overflow: ellipsis;
	position: absolute;
	padding: 0;
	text-align: center;
	white-space: nowrap;
}


.mui-content{
	height:calc( 100vh );
	height:-moz-calc(100vh);
	height:-webkit-calc(100vh);
	overflow-y:auto;
}

input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
	margin-bottom: 0!important;
	padding: 0!important;
	-webkit-user-select: text;
	border: none!important;
	outline: 0;
	border-radius: 0!important;
	background-color: #fff;
	-webkit-appearance: none;
	font-size: .28rem!important;
}

.noticeIcon, .addIcon {
	display: inline-block;
	width: 1rem;
	margin-left: 0.2rem;
	padding-top: 0.4rem;
}
.noticeIcon>span, .addIcon>span {
	display: block;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	overflow: hidden;
	background: url(../iconAll/img/jia.png)top no-repeat;
	background-size: 100% 100%;
}
.noticeIcon>p, .addIcon>p {
	width: 1rem;
	line-height: 0.24rem;
	font-size: 0.24rem;
	padding-top: 0.24rem;
	text-align: center;
	color: #444;
}
.notice-cont {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	flex-direction: row;
	padding-left: .26rem;
	padding-bottom: .2rem;
}
.orderSchedule {
    position: absolute;
    right: 0.2rem;
    top: calc(50% - 25%);
    display: block;
    color: #fff;
    width: 1.76rem;
    height: 0.48rem;
    line-height: 0.48rem;
    text-align: center;
    border-radius: 0.05rem;
    font-size: 0.24rem;
	background: -ms-linear-gradient(top, #04a7ff,  #0486fe);/* IE 10 */
	background:-moz-linear-gradient(top, #04a7ff,  #0486fe);/*火狐*/
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#04a7ff), to(#0486fe));/*谷歌*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#04a7ff), to(#0486fe));      /* Safari 4-5, Chrome 1-9*/
	background: -webkit-linear-gradient(top, #04a7ff, #0486fe);   /*Safari5.1 Chrome 10+*/
	background: -o-linear-gradient(top, #04a7ff, #0486fe);
}
.back {
	width: .5rem;
	height: .89rem;
	display: inline-block;
	float: left;
	background: url(../iconAll/img/arrow.png) left center no-repeat;
	background-size: 50% 50%;
}
.set_mon{
	color: #f00!important;
}

.swiper-container {
	background-color: #f2f2f2;
}

.listBox {
	margin-top: .2rem;
	background-color: #fff;
	width: 7.5rem;
	height: 2rem;
	padding: 0 .2rem 0 .2rem;
}

.listBox ul li {
	color: #444;
	font-size: .3rem;
	line-height: .98rem;
	height: .98rem;
	width: 100%;
}

.listBox ul li:nth-child(1) {
	border-bottom: .01rem solid #eee;
}
.firstBox div li {
	color: #444;
	font-size: .3rem;
	line-height: .98rem;
	height: .98rem;
	width: 100%;
	padding: 0 .2rem;
	list-style: none;
}

.myself {
	color: #444;
	font-size: .3rem;
	line-height: .98rem;
	width: 100%;
	background-color: #fff;
}

.total {
	color: #f00;
	line-height: 1.14rem;
	height: 1.14rem;
	text-align: right;
}

.addItem {
	margin-top: .2rem;
	background-color: #fff;
}

.copy {
	width: 100%;
	padding-left: .5rem;
}

.add {
	float: left;
	background-color: #fff;
	width: 1rem;
	height: 1.5rem;
	margin-right: .2rem;
}



.conter {
	width: 5.7rem;
	padding-bottom: .1rem;
}

.add {
	padding-top: .2rem;
	height: 1.5rem;
	border-radius: .2rem;
	margin-right: .2rem;
}

.copy2 {
	font-size: .3rem;
	margin: .45rem .1rem .01rem .1rem;
	background-color: #E4B877;
	height: .5rem;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	-webkit-border-radius: 5%;
	padding: .1rem;
}

.add2 {
	float: left;
	background-color: #fff;
	width: 1rem;
	height: 1.5rem;
	margin-right: .2rem;
}

.flex-container img {
	width: .96rem;
	height: .96rem;
}

.add img {
	width: .9rem;
	height: .9rem;
}

textarea {
	padding-left: .45rem;
}


/*回访建议*/

.backAdvice {
	margin-top: .2rem;
	width: 100%;
	background-color: #fff;
}
.advice_back{
	width: 100%;
	background-color: #fff;
}
.firstBox {
	background-color: #fff;
	width: 7.5rem;
}

.firstBox div li:nth-child(1) {
	border-bottom: 1px solid #eee;
	position: relative;
}


/*备注*/

.notice {
	width: 100%;
	background-color: #fff;
	padding: 0 0.2rem 0 0.2rem !important;
	
}
.notices {
	min-height: 2.16rem;
	margin-top: .2rem;
	width: 100%;
	background-color: #fff;
}

.noticeBox {
	min-height: 1.18rem;
}

.transB {
	float: left;
	height: .89rem;
	line-height: .89rem;
	margin-right: .1rem;
}

.transB img {
	width: .3rem;
	height: .3rem;
	display: inline-block;
	vertical-align: middle;
}

.listBox2 {
	background-color: #fff;
	width: 7.5rem;
	/*padding: 0 .2rem 0 .2rem;*/
}

.listBox3 {
	background-color: #fff;
	width: 7.5rem;
	padding: 0 .2rem 0 .2rem;
}

.listBox2 .transB img {
	width: .3rem;
	height: .3rem;
	display: inline-block;
	vertical-align: middle;
	/*margin-top: .1rem;*/
}
.deleteNum>img{
	width: .34rem !important;
	height: .34rem !important;
}
#upfile {
	border: none;
	position: absolute;
	color: transparent;
	display: inline-block;
	height: 2.1rem;
	opacity: 0;
	width: 1.6rem!important;
	z-index: -1;
	left: .05rem;
}

#upfile1 {
	border: none;
	position: absolute;
	display: inline-block;
	color: transparent;
	opacity: 0;
	height: 2.1rem;
	left: 0;
	width: 1.6rem!important;
	z-index: -1;
}

#upfile2 {
	border: none;
	position: absolute;
	display: inline-block;
	color: transparent;
	opacity: 0;
	height: 2.1rem;
	left: 0;
	width: 1.6rem!important;
	z-index: -1;
}

.red {
	color: #f00;
}

.item,
.item2,
.click {
	border-bottom: 1px solid #eee;
	color: #444;
	font-size: .3rem;
	line-height: .98rem;
	height: .98rem;
	width: 100%;
	padding:0 .2rem;
}

.listBox2 ul li {
	border-bottom: .01rem solid #eee;
	color: #444;
	font-size: .3rem;
	line-height: .98rem;
	height: .98rem;
	width: 100%;
}

.little,
.little2,.little3 {
	color: #444;
	font-size: .28rem;
	/*border-bottom: 1px solid #eee;*/
	/*padding: .2rem 0;*/
}
.price_project{
	width: 2rem;
	margin-left: .5rem;
}
/*.little2 {*/
	/*color: #444;*/
	/*font-size: .28rem;*/
	/*padding: .3rem 0;*/
	/*border-bottom: 1px solid #eee;*/
/*}*/

.little span {
	display: inline-block;
	color: #f00;
	font-size: .28rem;
}

.little2 span {
	display: inline-block;
	color: #f00;
	font-size: .28rem;
}

.littleLast span {
	display: inline-block;
	margin-top: 0.1rem;
	color: #f00;
}

.left-nav>ul>.bgColor {
	background-color: #f2f2f2;
}

.content {
	position: absolute;
	top: .3rem;
	right: .1rem;
	width: 7.5rem;
	height: 2rem;
	overflow: hidden;
	font-size: .24rem;
	opacity: 0;
	z-index: 1;
}

.block {
	opacity: 1;
	z-index: 99;
}


/* 区域滚动 */

.content .swiper-slide {
	height: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.theLast {
	text-align: center;
	line-height: 1.75rem;
	padding: 0 .2rem 0 .2rem;
	width: 100%;
	height: 2.75rem;
	margin-bottom: 0;
}
.mask{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 999;
}
.mask1{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100vh);
	overflow: auto!important;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 999;
}
.swiper-container {
	background-color: #f2f2f2;
}
.dialogue-box {
	position: fixed;
	top: calc(50% - 1.45rem);
	left: calc(50% - 2.2rem);
	width: 4.5rem;
	height: 2.9rem;
	background-color: #fff;
	z-index: 9999;
	border-radius: 0.03rem;
	overflow: hidden;
}
.mui-title {
	color: #fff;
	font-size: 0.36rem !important;
	height: .89rem!important;
	line-height: .89rem!important;
}

.field {
	padding-top: 0.78rem;
	height: 1.96rem;
	text-align: center;
	margin: 0;
	color: #000!important;
}
.btn-box {
	width: 100%;
	position: absolute;
	height: 0.7rem;
	border-top: 1px solid #eee;
	text-align: center;
	bottom: 0;
}
.btn-box>a {
	display: inline-block;
	width: 50%;
	height: .7rem;
	line-height: 0.6rem !important;
	padding: 0 !important;
	font-size: 0.28rem !important;
	color:#007aff !important;
}
.btn-box a:nth-child(1) {
	border-right: 1px solid #eee;
}
.theLast a{
	border-radius: .08rem;
	margin-top: 1rem;
	display: inline-block;
	border:none!important;
	color: #fff;
	font-size: .3rem;
	background-color: #E4B877;
	width:22%;
	/*width:29%;*/
	height: .88rem;
	line-height: .88rem;
	background-image: url(../iconAll/img/jx.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.deleteThis {
	position: absolute;
	top: 0.26rem;
	right: 0;
	width: 100%;
	height: 0.4rem;
	background: url(../iconAll/img/sc.png)right no-repeat;
	background-size: 0.3rem 0.3rem;
}
.copyToIcon {
	display: block;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	overflow: hidden;
	background: url(../iconAll/img/1.png)top no-repeat !important;
	background-size: 100% 100% !important;
}
.mui-focusin>.mui-bar~.mui-content {
	padding-bottom: 1rem!important;
}
/*.mui-table-view-cell {*/
	/*position: relative;*/
	/*overflow: hidden;*/
	/*padding: 14px 15px;*/
/*}*/
.btn2 {
	margin-left: .1rem;
	margin-right: .1rem;
}
.btn3{
	margin-right: .1rem;
}
.extrBox {
	margin-top: .2rem;
	background-color: #fff;
	width: 7.5rem;
	height: 4.2rem;
}

#listPho {
	width: 100%;
	height: 3.28rem;
}

#listPho {
	width: 100%;
	height: 3.26rem;
}

.priceTa {
	display: inline-block;
	margin-top: .1rem;
}

.moneyTotal {
	width: 100%;
	border-bottom: .01rem solid #eee;
}

.moneyTotal div {
	padding: 0;
	line-height: .6rem;
	box-sizing: border-box;
	height: .6rem;
	display: flex;
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
}

.moneyTotal p span {
	padding-left: .06rem;
	color: #f00;
	width: 1.6rem;
	height: .5rem;
	float: right;
	display: inline-block;
}

.setColor {
	color: #f00;
}

.setColor input {
	height: .5rem!important;
	font-size: .3rem;
	width: 1.5rem;
	color: #f00;
}

.setColor input::-webkit-input-placeholder {
	color: gray;
}

.setColor input:-moz-placeholder {
	color: gray;
}

#listPho {
	overflow: hidden !important;
	align-items: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	display: flex;
	flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
	-webkit-justify-content: center;
	justify-content: center;
}
input {
	width: 1.6rem;
}

#listPho li {
	width: 1.6rem;
	height: 2.5rem;
	text-align: center;
	position: relative;
	list-style: none;
}

#listPho li a {
	overflow: hidden;
	border: .01rem dashed #eee;
	display: inline-block;
	background: #fff url(../iconAll/img/addphoto.png) center center no-repeat;
	width: 1.6rem;
	height: 2.1rem;
}

.tit {
	display: inline-block;
	margin-top: .1rem;
}

#listPho li:nth-child(2) {
	margin: 0 .64rem 0 .64rem;
}

#listPho li span img {
	border: none;
	height: 2.1rem;
	width: 1.6rem;
	display: inline;
	float: left;
}
.little1 div{
	color: #444!important;
}

.addPhoto {
	width: .66rem;
	height: .66rem;
	background-image: url("../iconAll/img/addphoto.png");
	background-color: #fff;
	background-size: .66rem .66rem;
}
.mui-focusin>.mui-bar~.mui-content {
	padding-bottom: 1rem!important;
}


.transB1,.transB2{
	width: .5rem;
	height: .7rem;
	float: left;
}
.transB1 img {
	width: .4rem;
	height: .4rem;
	display: inline-block;
	vertical-align: middle;
}
.medical_con {
	height: .89rem;
	width: 100%;
	line-height: .89rem;
	border-bottom: 1px solid #f2f2f2;
	color: #444;
	font-size: .3rem;
}
.righticon {
	float: right;
	display: inline-block;
	width: .2rem;
	align-content: center;
	height: .8rem;
	line-height: .8rem;
}
.righticon img {
	vertical-align: middle;
	display: inline-block;
}




.flex-item img {
	width: .3rem;
	height: .3rem;
	vertical-align: middle;
	display: inline;
}

.mui-btn img {
	width: .3rem;
	height: .3rem;
	vertical-align: middle;
	display: inline;
}

.icon_com {
	color: #444;
	display: inline-block;
	width: .66rem;
	height: .9rem;
	font-size: .3rem;
	/* padding-left: .5rem; */
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 0.28rem 0.3rem;
	background-image: url(../iconAll/img/zenso.png);
}
.click>label{
	color: #444;
	display: inline-block;
	width: .66rem;
	height: .3rem;
	font-size: .3rem;
	/* padding-left: .5rem; */
	background-repeat: no-repeat;
	background-position: center center;
	background-size: .3rem .3rem;
	background-image: url(../iconAll/img/jiahao.png)
}
.click_noPay>label {
	color: #444;
	display: inline-block;
	width: .66rem;
	height: .3rem;
	font-size: .3rem;
	/* padding-left: .5rem; */
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 0.3rem 0.3rem;
	background-image: url(../iconAll/img/jiahao.png);
}

.mui-navigate-right:after, .mui-push-right:after {
	font-size: 0.5rem;
	right: 9px;
	content: '\e583';
}
.mui-table-view-cell>a:not(.mui-btn),.mui-table-view-cell>p{
	font-size: .3rem;
	height: .89rem;
	line-height:.89rem;
	margin: 0!important;
	text-align: left;
	color: #444;
}


.flex-container{
	width: 100%;!important;
}
.mui-table-view:after {
	height: 0!important;
}
.mui-table-view:before {
	height: 0!important;
}


.suggest{
	border-top: 1px solid #eee;
}

.mui-table-view-cell.mui-collapse .mui-collapse-content{
	padding-top: 0!important;
	padding-bottom: 0!important;
	font-size: .3rem;
	margin: 11px -15px 0!important;
}
.mui-collapse{
	border-top: 1px solid #eee;
}
.mui-table-view-cell.mui-active {
	background-color: #fff;
}
.set_mon,.intre_mon{
	width: 100%;
	height: .5rem;
	line-height: .5rem;
	color: #f00;
	text-align: left;
	float: left;
	padding-left: .5rem;
}
.intre_mon{
	width: auto !important;
	padding-left: 0 !important;
}
.input::-webkit-input-placeholder{
	font-size: .2rem!important;
}
.mui-numbox {
	background-color: #fff!important;
	border: none;
	float:left;
	width: 72px!important;
	padding: 0 24px!important;
	margin-left: .4rem;
}
.mui-numbox [class*=btn-numbox], .mui-numbox [class*=numbox-btn]{
	width: .5rem;
	height: .5rem;
	background-color: #fff!important;
}
.mui-numbox .mui-input-numbox, .mui-numbox .mui-numbox-input{
	width: .5rem!important;
	height: .6rem;
	font-size: .3rem!important;
	float: left;
	line-height: .8rem;
	border: none!important;
}
.get_Money{
	float: left;
	height: .5rem;
	line-height: .5rem;
	margin-left: .5rem;
	font-size: .28rem!important;
}
.click{
	border-top: 1px solid #eee;
	color: #444;
	font-size: .3rem;
	line-height: .98rem;
	height: .98rem;
	width: 100%;
	text-align: left;
	background-color: #fff;
}
.click_noPay{
	color: #444;
	font-size: .3rem;
	line-height: .98rem;
	height: .98rem;
	background-color: #fff!important;
	width: 100%;
	text-align: left;
	border-top: 1px solid #eee;
}
.intersting{
	color: #444;
	font-size: .3rem;
	line-height: .98rem;
	height: .98rem;
	background-color: #fff!important;
	width: 100%;
	text-align: left;
	border-top: 1px solid #eee;
}
.intersting>label {
	color: #444;
	display: inline-block;
	width: .66rem;
	height: .3rem;
	font-size: .3rem;
	/* padding-left: .5rem; */
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 0.3rem 0.3rem;
	background-image: url(../iconAll/img/jiahao.png);
}
.conter{
	width: 5rem;
	padding-bottom: .1rem;
}

.mui-table-view-cell {
	position: relative;
	overflow: hidden;
	padding: 0;
	-webkit-touch-callout: none;
	height: auto!important;
	width: 100%;
}
.color_name{
	height: .5rem;
	line-height: .5rem;
	width: 4.5rem;
	float: left;
	text-align: left;
}
.icon_text,.icon_text1,.icon_text2{
	color: #444;
	display: inline-block;
	width: .66rem;
	height: .4rem;
	font-size: .4rem;
	float: right;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 0.4rem 0.4rem;
	background-image: url(../iconAll/img/text_suggest.png)
}
.color_name{
	color: #c69351 !important;
}
.line_box{
	border-top: 1px solid #eee;
	float: left;
	width: 100%;
}
.editbox,.editbox1,.editbox2{
	width: 93%!important;
	height: 2rem!important;
	border: 1px solid #eee!important;
	margin-top: 0!important;
	font-size: .3rem;
	float: right;
	padding-left: .2rem!important;
}
.color_place::-webkit-input-placeholder{
	font-size: .3rem;
}
.color_place::-webkit-input-placeholder{
	font-size: .3rem;
}
.color_place{
	color: #f00;padding-left: .1rem!important;
	height: 23px!important;
	width: 4rem!important;
	font-size: .28rem;!important;
}
.little .transB{
	float: left;
	height: .5rem;
	 line-height: .5rem;!important;
	margin-right: .1rem;
}
.little2 .transB1{
	float: left;
	height: .5rem;
	line-height: .5rem;!important;
	margin-right: .1rem;
}

/*抄送*/

/*.notice {*/
    /*background-image: url(../iconAll/img/cs.png);*/
    /*background-size: 0.32rem 0.34rem;*/
/*}*/
.deleteThis{
    position: absolute;
    top: 0.26rem;
    right:0;
    width: 100%;
    height:0.4rem;
    background: url("../iconAll/img/sc.png")right no-repeat;
    background-size: 0.3rem 0.3rem;
}
.copyToIcon{
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    overflow: hidden;
    background: url("../iconAll/img/1.png")top no-repeat !important;
    background-size: 100% 100% !important;
}
.noticeBtn {
    width: 100%;
    height: 2.18rem;
    vertical-align: middle;
}
.notice-box {
    min-height: 2.18rem !important;
}

.noticeIcon,.addIcon {
    display: inline-block;
    width: 1rem;
    margin-left: 0.2rem;
    padding-top: 0.4rem;
}

.notice-cont {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    padding-left: .26rem;
    padding-bottom: .2rem;
}

.noticeIcon>span,.addIcon>span {
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    overflow: hidden;
    background: url(../iconAll/img/jia.png)top no-repeat;
    background-size: 100% 100%;
}

.noticeIcon>p,.addIcon>p {
    width: 1rem;
    line-height: 0.24rem;
    font-size: 0.24rem;
    padding-top: 0.24rem;
    text-align: center;
    color: #444;
}
.notice-cont{
    width: 100%;
}
/**/


.mui-title{
    line-height: 0.89rem !important;
}
p{
	color: #444 !important;
}
input[type=text]{
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
	border-radius: 0 !important;
}
input[type=number]{
	padding: 0 !important;
	border: none !important;
	border-radius: 0;
}
select{
	width: 50% !important;
}
.arrearsRemarks{
	width: 70% !important;
}
.getMoney,
.designeMon,
.designerPort{
	padding-left: 0.12rem;
}
/*.little{
	padding-left: 0.5rem;
}*/
#listPho li a{
	background:none;
}
img:not([src]) {
    opacity: 0;
}
.mui-bar{
    height: .89rem;
    line-height: .89rem;
    width: 100%;
    color: #000;
    background-color: #fff!important;
    position: fixed;
	border-bottom: 1px solid #eee;
	box-shadow: 0 4px 5px -3px #eee;
}
.backIcon{
    width: .5rem;
    height: .89rem;
    display: inline-block;
    float: left;
    background: url(../iconAll/img/arrow.png) left center no-repeat;
    background-size: 50% 50%;
}
.title{
    font-size: .36rem;
    right: 40px;
    left: 40px;
    display: inline-block;
    overflow:hidden;
    width:auto;
    margin:0;
    text-overflow:ellipsis;
    position:absolute;
    color: #000!important;
    padding:0;
    text-align:center;
    white-space:nowrap;
}

.notice,.backAdvice{
	height: auto !important;
	padding: 0 0.2rem 0.1rem 0.2rem;
	border-top: 1px solid #eee;
}
.noticeBox,.seggestion{
	min-height: 2.2rem !important;
}

.remark,.designAdvise{
	width: 95%;
	word-break:break-all; 
	padding-left: 0.45rem;	
	color: #444;
    line-height: 0.48rem;
    font-size: .28rem;
}

.little2 {
	border-bottom: none;
    /*border-top: 1px solid #eee;*/
    box-sizing: border-box;
    /*padding-left: 0.5rem;*/
}
.listBox2>div:last-child{
	border-bottom: none;
}
.myself{
	padding:0 0.2rem 0 0.2rem;

}
.click{
	border-bottom: none !important;
	border-top: 1px solid #eee;
}
.moneyTotal div{
     line-height: 0.98rem;	
     height:0.98rem;
     border-top:0.02rem solid #eee;
     width: 100%;
}

.flex-container {
    text-align: center;
    background-color: #fff;
    flex-wrap: wrap;
    /*display: -webkit-flex;*/
  /*  display: flex;*/
    -webkit-flex-direction: inherit;
    flex-direction: inherit;
    width: 100%;
    /*padding-left: .26rem;*/
    /*padding-bottom: .2rem;*/
}

.payment{
	background-color: #fff;
    padding: 0 .2rem;	
    margin-top: .2rem;
}
.payment input[type=text]{
   font-size: 0.3rem;
   color: #444;	
}

.visit{
	padding: 0 !important;
}

.visit-title{
   padding: 0 .2rem !important;

}
.arr-visit{
	padding: 0 .2rem !important;}

.item2{
	border-bottom: none !important;
	border-top: 1px solid #eee;
	
}
.listBox3{
	padding: 0 !important;
}


.visit-box{
	width: 7.1rem;
}
.visit-content{
	width: 7.3rem;
}
.visit-content>.returnVisitAdvise{
	width: 95%;
	word-break:break-all; 	
	padding-left: .45rem;
	color: #444;
    line-height: 0.48rem;
    font-size: .28rem;
}


.debtBond{
	margin-top: .2rem;
	background-color:#fff;
	padding: 0 .2rem;
}

.icon-upload{
	width: 0.5rem;
	float: right;
	
}
.icon-upload img{
	width: .36rem;
	height:.36rem;
	display: inline-block;
	vertical-align: middle;
}

#upfile,#upfile1,#upfile2{
	position: absolute;
	left: 0;
	top: 0;
}
.extrPho{
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    height: 3.28rem;
    line-height: 3.28rem;
}
 .extrPho li {
 	display: inline-block;
 	*display: inherit;
 	*zoom: 1;
    width: 1.6rem;
    height: 2.5rem;
    text-align: center;
    margin: 0 0 0 0.4rem;
    vertical-align: middle;
}


.extrPho li a {
    overflow: hidden;
    border: .01rem dashed #eee;
    display: inline-block;
    background: #fff url(../iconAll/img/addphoto.png) center center no-repeat;
    width: 1.6rem;
    height: 2.1rem;
}
.extrPho li span img {
    border: none;
    height: 2.1rem;
    width: 1.6rem;
    display: inline;
    float: left;
}

textarea{
    color: #444!important;
}
.arrears,.design_date{
	padding: 0 .2rem;
	background-color:#fff;
}
.item{
	position: relative;
	border-bottom: none !important;
    padding: 0!important;
}
.notice-tit,.backAdvice-tit,.design-tit{
    border-bottom: 1px solid #eee !important;
}
.arr_item{
	border-top: 1px solid #eee !important;
}
.arrears input,.design_date input[type=date]{
	width: 2.6rem;
	color: #444;
	font-size: 0.3rem;
}

input[type=date]::-webkit-inner-spin-button { visibility: hidden; } 
input[type=date]{
	border: none;
	background:none;
}
/*#btn1,.btn2,.btn3{*/
	/*background-image:url(../iconAll/img/jx.png);*/
	/*background-repeat: no-repeat;*/
	/*background-size:100% 100% ;*/
/*}*/
.theLast a {
    border-radius: .5rem;
    display: inline-block;
    color: #fff;
    font-size: .3rem;
	background: -ms-linear-gradient(top, #04a7ff,  #0486fe);/* IE 10 */
	background:-moz-linear-gradient(top, #04a7ff,  #0486fe);/*火狐*/
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#04a7ff), to(#0486fe));/*谷歌*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#04a7ff), to(#0486fe));      /* Safari 4-5, Chrome 1-9*/
	background: -webkit-linear-gradient(top, #04a7ff, #0486fe);   /*Safari5.1 Chrome 10+*/
	background: -o-linear-gradient(top, #04a7ff, #0486fe);
    width: 30%;
    height: .8rem;
    line-height: .8rem;
}
/*欠条上传*/
.proof{
	border-bottom: 1px solid #e5e5e5 !important;
}
  .debtBox{
      position: relative;
  	width: 100%;
  	overflow:hidden;
  }
  .debtBoxS{
  	width: 100%;
  	overflow: hidden;
    overflow-x: auto;
  }
  .extrPho{
  	width: 15rem;
  }
 .extrChild {
        width:1.6rem;
        height:2.1rem;
        position: relative;
        cursor: pointer;
        color: #888;
        border: 1px dashed #ddd;
        overflow: hidden;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        text-decoration: none;
        line-height:80px;
        text-align: center;
        font-size: 100px;
        margin:0.64rem 0.32rem;
        
    }
    .extrChild:first-child{
    	margin: 0.64rem 0.32rem 0.64rem 0.52rem;
    }
    .extrChild  input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        cursor: pointer
    }

    .extrChild:hover {
        color: #444;
        background: #eee;
        border-color: #ccc;
        text-decoration: none
    }
    #upfile{
    	z-index: 1;
    }
    
    .paymentRemarks{
    	font-size: 0.3rem;
    	color:#444;
    	 appearance:none;
        -moz-appearance:none;
        -webkit-appearance:none;
    }
     /*抄送人部分*/
    /*.personal_box:first-child{
    	margin: 0 0.32rem 0 0.16rem;	
    }*/
    .personal_box{
    	width: 0.89rem;
    	 padding-top: .2rem;
    height: 1.5rem;
    border-radius: .2rem;
    margin-left: .2rem;
    }
   .personal_icon{
   	   width: 0.89rem;
   	   height: 0.89rem;
   	   border-radius:50%;
   	   overflow: hidden;
   	   background-image:url(../iconAll/img/1.png) ;
   	   background-repeat:no-repeat ;
   	   background-size:cover ;
   }
    
    .personal_name{
    	display: inline-block;
    	margin-top: 0.1rem;
    } 
    .flex-container-box{
    	width:100%;
    	overflow: hidden;
    }

    .flex-container-scoll{
    	width: 100%;
        overflow: hidden;
        overflow-x: auto;
    }
    .conter{
    	width: auto;
    }
   .add {
    padding-top: .2rem;
    height: 1.5rem;
    border-radius: .2rem;
    margin-left: .2rem;
}
.contentBox{
    margin-bottom: 0 !important;
}
/*欠条图片右滑提示字*/
.prompt{
    position: absolute;
    top: calc(50% - 30%);
    right:0.17rem;
    width: 0.12rem;
    line-height: 0.4rem;
    font-size: 0.24rem;
    color: #999 !important;
}

/*对话框*/
		
		
		.dialogue-box {
			position: fixed;
			top: calc(50% - 2.45rem);
			left: calc(50% - 2.75rem);
			width: 5.5rem;
			height: 4.9rem;
			background-color: #fff;
			z-index: 9999;
			border-radius: 0.03rem;
			overflow: hidden;
		}
		
		.dialogue-title {
			height: 0.78rem;
			margin: 0 !important;
			background: -ms-linear-gradient(top, #04a7ff, #0486fe);
			background: -moz-linear-gradient(top, #04a7ff, #0486fe);
			background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#04a7ff), to(#0486fe));
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#04a7ff), to(#0486fe));
			background: -webkit-linear-gradient(top, #04a7ff, #0486fe);
			background: -o-linear-gradient(top, #04a7ff, #0486fe);
			color: #fff;
			font-size: 0.3rem;
		}
		
		.field {
			padding-top: 0.78rem;
			height: 3.96rem;
			margin: 0;
		}
		
		.field>textarea {
			padding: 0 !important;
			margin: 0;
			height: 94%;
			border: none;
			border-radius: 0!important;
			border: 1px solid #e5e5e5 !important;
			width: 95% !important;
			/*margin-left:2.5% !important;*/
			margin-top: 2.8% !important;
			font-size: 0.28rem;
			text-indent:0 !important;
			letter-spacing: 0.002rem;
		}
		
		.btn-box {
			width: 100%;
			height: 0.92rem;
			border-top: 0.01rem solid #eee;
			text-align: center;
		}
		
		.btn-box>button {
			width: 1.2rem;
			height: 0.6rem;
			line-height: 0.6rem !important;
			padding: 0 !important;
			font-size: 0.28rem !important;
			margin-top: 0.22rem !important;
		}
		
		.cancel {
			margin-right: 0.9rem;
		}
		
		.determines {
			margin-left: 0.9rem;
			background: -ms-linear-gradient(top, #04a7ff, #0486fe);
			background: -moz-linear-gradient(top, #04a7ff, #0486fe);
			background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#04a7ff), to(#0486fe));
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#04a7ff), to(#0486fe));
			background: -webkit-linear-gradient(top, #04a7ff, #0486fe);
			background: -o-linear-gradient(top, #04a7ff, #0486fe);
			color: #fff;
			border: 0.02rem solid #0486fe;
		}
		
		.mask {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.4);
			z-index: 999;
			
		}
		.contents{
			position: relative;
		}
		
.mui-table-view-cell.mui-collapse .mui-table-view {
     margin-right: 0px; 
     margin-bottom: 0px; 
     margin-left: 0px; 
}
.mui-table-view-cell.mui-collapse .mui-collapse-content {
    margin: 1px -15px 0!important;
}