html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.mui-active {
    background: #fff !important;
}

input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
	font-size: .3rem;!important;
	color: #444!important;

}

.mui-icon-arrowleft:before {
    color: #fff!important;
}

.mui-table-view-cell:after,
.mui-table-view:after {
    left: 0 !important;
    color: #e5e5e5 !important;
}

.mui-navigate-right:after,
.mui-push-right:after {
    right: 0 !important;
}

.mui-content>.mui-table-view:first-child {
    margin-top: 0 !important;
}

.mui-icon-back:before,
.mui-icon-left-nav:before {
    color: #fff !important;
}
.submit_btn{
	width: 80%;
	height: .8rem;
	margin: 0 auto;
	border-radius: .5rem;
	text-align: center;
	line-height: .8rem;
	color: #fff;
	background: -ms-linear-gradient(top, #04a7ff,  #0486fe);/* IE 10 */
	background:-moz-linear-gradient(top, #04a7ff,  #0486fe);/*火狐*/
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#04a7ff), to(#0486fe));/*谷歌*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#04a7ff), to(#0486fe));      /* Safari 4-5, Chrome 1-9*/
	background: -webkit-linear-gradient(top, #04a7ff, #0486fe);   /*Safari5.1 Chrome 10+*/
	background: -o-linear-gradient(top, #04a7ff, #0486fe);
	margin-top: .5rem;
}
.backIcon {
    width: .5rem;
    height: .89rem;
    display: inline-block;
    float: left;
    background: url(../../iconAll/img/arrow.png) left center no-repeat;
    background-size: 50% 50%;
}

header {
    background-color: #fff !important;
	border-bottom: 1px solid #eee!important;
	box-shadow: 0 4px 5px -3px #eee!important;
    height: 0.89rem !important;
}

.title {
    color: #000 !important;
    height: 0.89rem !important;
    line-height: 0.89rem !important;
    font-size: 0.36rem !important;
}

.mui-content {
    height: 100%;
    overflow: auto;
}

.arrList {
    position: relative;
    height: 100%;
    padding: 0 0.2rem !important;
}

.arrList>a {
    height: 100%;
    line-height: 0.98rem;
    padding: 0 !important;
    margin: 0 !important;
}

.arrList>a>span {
    font-size: 0.3rem;
    color: #444 !important;
    padding-left: 0.47rem;
    background-repeat: no-repeat;
    background-size: 0.36rem 0.36rem;
}

.arrList>a>small {
    width: 58%;
    text-align: right;
    font-size: 0.28rem;
    color: #444;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dateTit{
    background-image:url(../../iconAll/img/pay_num1.png);
}
.custNameTit{
    background-image:url(../../iconAll/img/pay_num2.png);
}
.projectTit{
    background-image:url(../../iconAll/img/pay_num3.png);
}
.transactionPriceTit{
    background-image:url(../../iconAll/img/pay_num4.png);
}
.actualDeliveryTit{
    background-image:url(../../iconAll/img/pay_num5.png);
}
.sendProjectTit{
    background-image:url(../../iconAll/img/pay_num6.png);
}
.developerTit{
    background-image:url(../../iconAll/img/pay_num7.png);
}
.counselorTit{
    background-image:url(../iconAll/img/pay_num8.png);
}
.majordomoTit{
    background-image:url(../iconAll/img/pay_num9.png);
}
.stylistTit{
    background-image:url(../iconAll/img/pay_num10.png);
}
.verifierTit{
    background-image:url(../iconAll/img/pay_num11.png);
}
.payableProjects{
    border-top:1px solid #eee;
    line-height:0.98rem;
    color: #444;
    padding-left: 0.36rem;
}
.ulPhoto {
    padding-left: 0;
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    display: flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.div_box1 {
    background-color: #fff;
}
.ulPhoto li {
    display: flex;
    justify-content: center;
    width: 1.6rem;
    height: 2.1rem;
    text-align: center;
    margin: 0.64rem 0.32rem;
}
.ulPhoto li:nth-child(1) {
    margin-left: .5rem;
}
.ulPhoto>li:last-child {
    margin-right: .64rem;
}
.ulPhoto li a {
    overflow: hidden;
    border: 1px dashed #eee;
    display: inline-block;
    width: 1.6rem;
    line-height: 2.1rem;
}
.ulPhoto li a span img {
    border: none;
    height: 2.1rem;
    width: 1.6rem;
    display: inline;
    background-color: #fff;
    margin-top: .02rem;
}
input{
	width: 60%!important;
}
	textarea,input{
		border: none!important;
		font-size: .3rem!important;
	}
textarea{
	color:#444;
	padding-left: .65rem!important;
	padding-right: .2rem;
	height: 3rem!important;
}

.mui-preview-image.mui-fullscreen {
				position: fixed;
				z-index: 20;
				background-color: #000!important;
			}
			.mui-preview-header,
			.mui-preview-footer {
				position: absolute;
				width: 100%;
				left: 0;
				z-index: 10;
			}
			.mui-preview-header {
				height: 44px;
				top: 0;
			}
			.mui-preview-footer {
				height: 50px;
				bottom: 0px;
			}
			.mui-preview-header .mui-preview-indicator {
				display: block;
				line-height: 25px;
				color: #fff;
				text-align: center;
				margin: 15px auto !important;
				width: 70px;
				background-color: rgba(0, 0, 0, 0.4);
				border-radius: 12px;
				font-size: 16px;
			}
			.mui-preview-image {
				display: none;
				-webkit-animation-duration: 0.5s;
				animation-duration: 0.5s;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;
			}
			.mui-preview-image.mui-preview-in {
				-webkit-animation-name: fadeIn;
				animation-name: fadeIn;
			}
			.mui-preview-image.mui-preview-out {
				background: none;
				-webkit-animation-name: fadeOut;
				animation-name: fadeOut;
			}
			.mui-preview-image.mui-preview-out .mui-preview-header,
			.mui-preview-image.mui-preview-out .mui-preview-footer {
				display: none;
			}
			.mui-zoom-scroller {
				position: absolute;
				display: -webkit-box;
				display: -webkit-flex;
				display: flex;
				-webkit-box-align: center;
				-webkit-align-items: center;
				align-items: center;
				-webkit-box-pack: center;
				-webkit-justify-content: center;
				justify-content: center;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				width: 100%;
				height: 100%;
				margin: 0;
				-webkit-backface-visibility: hidden;
				background-color: #000;
			}
			.mui-zoom {
				-webkit-transform-style: preserve-3d;
				transform-style: preserve-3d;
			}
			.mui-slider .mui-slider-group .mui-slider-item img {
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;
			}
			.mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
				width: 100%;
			}
			.mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item {
				display: inline-table;
			}
			.mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
				display: table-cell;
				vertical-align: middle;
			}
			.mui-preview-loading {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				display: none;
			}
			.mui-preview-loading.mui-active {
				display: block;
			}
			.mui-preview-loading .mui-spinner-white {
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -25px;
				margin-top: -25px;
				height: 50px;
				width: 50px;
			}
			.mui-preview-image img.mui-transitioning {
				-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
				transition: transform 0.5s ease, opacity 0.5s ease;
			}
			@-webkit-keyframes fadeIn {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
			@keyframes fadeIn {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
			@-webkit-keyframes fadeOut {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0;
				}
			}
			@keyframes fadeOut {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0;
				}
			}
			p img {
				max-width: 100%;
				height: auto;
			}