body{
    background-color:#f2f2f2;
}
.total_num{
    text-align: left;
    height: .89rem;
    height: .89rem;
    line-height: .89rem;
    padding: 0 .2rem;
    font-size: .3rem;
    background: #fff;
    border-bottom: 1px solid #f2f2f2;
    position: fixed;
    width: 100%;
    top: 1.88rem;
    z-index: 1;
    border-top: 1px solid #f2f2f2;
}

.main-body {
    /* 加上这个才会有当数据充满整个屏幕，可以进行上拉加载更多的操作 */
    overflow: scroll;
  }
/* .mui-content {
    height: calc(100vh);
    height: -moz-calc(100vh);
    height: -webkit-calc(100vh);
    background-color: #efeff4!important;
} */
.swiper-container {
    background-color: #f2f2f2;
}

.head {
    /* background-color: #fff !important; */
    height: 0.89rem !important;
    border-bottom: 1px solid #eee;
    box-shadow: 0 4px 5px -3px #eee;
}

.mui-bar {
    padding: 0!important;
}

.title {
    left: 1.6rem!important;
    right:1.6rem!important;
    color: #000;
    height: 0.89rem !important;
    line-height: 0.89rem !important;
    font-size: 0.36rem !important;
}

/*.order{
    background-image: url(../iconAll/img/wei.png);
}
.nopayOrder{
    background-image: url(../iconAll/img/yix.png);
}*/
.mui-navigate-right{
    font-size: .3rem;
}
.backIcon {
    width: .5rem;
    height: .89rem;
    display: inline-block;
    float: left;
    /* background: url(../../../../src/assets/iconAll/img/arrow.png) left center no-repeat; */
    background-size: 50% 50%;
}

.Icon_rig {
    width: .4rem;
    height: .4rem;
    margin-top: .25rem;
    display: inline-block;
    background: url(../../../src/assets/iconAll/img/ss.png) left center no-repeat;
    background-size: 100% 100%;
}
.icon_right{
    width: .4rem;
    height: .4rem;
    display: inline-block;
    background: url(../../../src/assets/iconAll/img/modeta.png) left center no-repeat;
    background-size: 102% 54%;
}
.search_int{
    margin-right: .3rem;
}
.head {
    height: 0.89rem !important;
    padding: 0 0.2rem;
}
.self_height {
    font-size: .3rem;
    height: 1.05rem!important;
    line-height: 1rem;
    border-top: 1px solid #efeff4!important;
    padding: 0 .2rem 0 .2rem;
    background-color: #fff;
    border-bottom: 1px solid #efeff4!important;
}
.self_height div {
    display: inline-block;
    float: left;
    width: 33%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
}

/*时间筛选*/
.select-time{
    width: 100%;
    height: 1rem;
    background-color:#fff;
}
.select-time>small{
    display:block;
    float: left;
    width: 0.04rem;
    height: 0.42rem;
    background-color:#f2f2f2 ;
    margin-top: 0.32rem;
}
.start-time,.end-time{
    height: 1rem;
    line-height: 1rem;
    float: left;
    width: 49%;
    text-align: center;
}
.start-time>span,.end-time>span{
    display: inline-block;
    *display: inherit;
    *zoom: 1;
    width: 0.3rem;
    height: 0.3rem;
    background-repeat:no-repeat ;
    background-size:100% 100% ;
    vertical-align: -4%;

}
.start-time>span{
    background-image:url(../../../src/assets/iconAll/img/select-time.png) ;
}
.end-time>span{
    background-image:url(../../../src/assets/iconAll/img/end-time.png) ;
}

.start-time>a,.end-time>a{
    display: inline-block;
    height: 0.90rem;
    font-size: 0.3rem;
    color:#444;
    padding:0 0.44rem 0 0 ;
    background-image:url(../../../src/assets/iconAll/img/icon-spec.png);
    background-repeat:no-repeat ;
    background-position: right;
    background-size: 0.2rem 0.12rem;
    background-color: #fff;
    border: none;
}
/*全部列表*/
.listInfo{
    width: 100%;
}
p{
    margin-bottom:0 ;
}
.personalInfo{
    width: 100%;
    height:1.18rem ;
    margin-top: 0.1rem;
    padding: 0 0.2rem;
    background-color:#fff ;
}
.infoLeft{
    float: left;
    width: 4.6rem;
    height: 1.18rem;
    line-height: 1.18rem;
    vertical-align: middle;
}
.infoLeft>span{
    display: inline-block;
    padding-left: 0.42rem;
    background-image:url(../../../src/assets/iconAll/img/icon-ddh.png);
    background-position:left ;
    background-size:0.28rem 0.34rem ;
    background-repeat: no-repeat;
    color:#c69450;
    font-size: 0.28rem;
}
.infoLeft>small{
    width: 30%;
    color:#c69450;
    font-size: 0.28rem;
}
.infoRight{
    float: left;
    width: 2.44rem;
    height: 1.18rem;
    line-height: 1.18rem;
    vertical-align: middle;
}
.infoRight>span{
    display: inline-block;
    padding-left: 0.42rem;
    background-image:url(../../../src/assets/iconAll/img/icon-khxm.png);
    background-position:left ;
    background-size:0.29rem 0.28rem ;
    background-repeat: no-repeat;
    font-size: 0.28rem;
    color: #444;
}
.infoRight>small{
    width: 30%;
    color: #444;
    font-size: 0.28rem;
}
/*加载数据提示*/
.loadPrompt{
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    display: none;
}
.loadPrompt>p{
    width: 100%;
    height: 100%;
}
.loadPrompt>p>span{
    display: inline-block;
    *display:inline;
    *zoom: 1;
    width: 0.3rem;
    height: 0.3rem;
    vertical-align: -5%;
    margin-left: 0.1rem;
}

.big_box {
    padding: .2rem;
    float: left;
    border-bottom: 1px solid #efeff4!important;
}
.big_box div {
    display: inline-block;
    width: 100%;
    float: left;
    text-align: center;
}
.word_sty {
    color: #444!important;
    display: inline-block;
    line-height: 15px;
    text-align: left;
    font-size: 14px;
    text-overflow: ellipsis;
    padding-left: .45rem;
    float: left;
    line-height: .4rem;
}
.style_type{
    float: left;
    padding-left: .45rem;
    color: #999!important;
    display: inline-block;
    line-height: 15px;
    text-align: left;
    font-size: 14px;
    margin-top: .1rem;
}
.photo{
    float: left;
    width: .34rem;
    height:.34rem;
    display: inline-block;
    background:url(../../../src/assets/iconAll/img/orderdd.png) center center no-repeat;
    background-size: .34rem .34rem;
    margin-right: .1rem;
}
.time_sty {
    text-align: left;
    float: left;
    color: #04a7ff!important;
    margin-bottom: 0!important;
}
.no_st{
    border-radius: .05rem;
    font-size: .3rem;
    height: .5rem;
    line-height: .1rem;
    background-color: #2da00d;
    color:#fff;
    padding: .2rem;
    float: right;
    display: inline-block;
}
.no_styreb{
    color:#fdd1a4;
    float: right;
}
.name_st{
    color: #444!important;
    float: left;
    margin-left: .45rem;
}
.name_style {
    color: #f00!important;
    text-align: right;
    float: right;
    margin-bottom: 0!important;
}
.mui-table-view:before{
    height: 0!important;
}
.mui-table-view:after{
    height: 0!important;
}
.color{
    background-color: #fff;
}
.self{
    background-color: #eee;
}
.scrol-box {
    width: 3rem!important;
    right: 0;

}
.mui-off-canvas-wrap.mui-active .mui-off-canvas-backdrop{
    box-shadow: none!important;
}
.mui-table-view-cell.mui-collapse .mui-collapse-content{
    padding: 0!important;
}
.mui-table-view-cell>a:not(.mui-btn){
    margin-left: 0!important;
    margin-right: 0!important;
    /*padding-left: .8rem!important;*/
    padding-right: 0!important;
}
.mui-table-view-cell>a:not(.mui-btn).mui-active{
    color: #444 !important;
    margin-left: 0!important;
    margin-right: 0!important;
    /*padding-left:0!important;*/
    padding-right: 0!important;
    /*font-size: 0.3rem;*/
    /*padding-left:.8rem !important;*/
    background-color:#fff!important ;

}
.mui-off-canvas-left{
    background-color: #fff!important;
}
#sliderSegmentedControl {
    border-bottom: 1px solid #f2f2f2;
    padding: 0.2rem 0;
    background: #fff;
    margin: 0;
}
.myTabNav {
    width: 90%;
    margin: 0 auto;
    height: 0.62rem;
    border-radius: 9.99rem;
    background-color: #eee !important;
    overflow: hidden;
    display: flex;
}
.myTabNav>a {
    font-size:.25rem;
    height: 0.62rem;
    line-height: 0.62rem !important;
    width: 50%;
    color: #fff !important;
    border-radius: 9.99rem;
    text-align: center;
    text-decoration: none;
}
.active {
    background: #007aff !important;
}

.clic{
    /*background-color:#E4B877;*/
    color: #E4B877!important;
}
.self{
    background-color: #fff;
}
.mui-table-view-cell.mui-collapse.mui-active .mui-table-view-cell>a:not(.mui-btn).mui-active{
    padding-left: .8rem!important;
}
