*{
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}
a:active {color:#fff;}
.mui-bar-nav{
	height: .89rem;
	width: 100%;
	color: #000;
	background-color: #fff;
	position: fixed!important;
	z-index: 99;
	border-bottom: 1px solid #eee;
	box-shadow: 0 4px 5px -3px #eee;
	padding: 0!important;
}

.search{
	position: relative;
	width: 86%;
	height: 0.66rem;
    border-radius: 9.99rem;
	overflow: hidden;
	margin-top: 0.115rem;
	background: rgba(238,238,238,.4);
}
.search>input{
	border: none;
	width: 84%;
	height: 0.44rem;
	line-height: 0.44rem;
	margin-top: 0.11rem;
	background: none;
	color: #444!important;
	padding: 0 0.15rem !important;
	margin-bottom: 0 !important;
}
.search>input::-webkit-input-placeholder{
        color: #444!important;
        font-size: 0.3rem;
}
.birthday>input::-webkit-input-placeholder{
	color: #444!important;
	font-size: 0.3rem;
}
.search_btn{
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 1rem;
	height: 0.66rem;
	line-height: 0.66rem;
	background-image:url(../../iconAll/img/searchbg.png);
	background-repeat:no-repeat;
	background-size:100% 100% ;
	text-align: center;	
	color: #444;
	font-size: 0.3rem;
}
.search_btn>img{
	width: 0.44rem;
	height: 0.44rem;
	vertical-align: -15%;
	vertical-align: middle;
    
}
.cancel{
	position: absolute;
	top: 0.115rem;
	right: 0;
	color: #444;
	font-size: 0.32rem;
}
/*列表部分*/
#searchList{
	height: 100%;
	overflow-y:scroll ;
}
.mui-content>.mui-table-view:first-child{
	margin-top: 0 !important;
}
.mui-table-view-cell:after{
	left: 0 !important;
}
.daily>span,.daily>small{
	font-size:0.3rem ;
	color: #444;
}
.oUl {
	height: 100%;
}

.readed{
	background-color: #ddd;
}
.set_back{
	display:block!important;
	line-height:.5rem!important;
	position: absolute;
	right:.2rem;
	top: .2rem;
	color: #444;
	font-size: 0.32rem;
}
/*消息状态*/
.preReaded{
	position: absolute;
	display: inline-block;
	top: calc(77% - 25%);
	background-color: #f00;
	border-radius:50%;
	padding: 0.05rem;
}
.readed{
	position: absolute;
	top: calc(77% - 25%);
	display: inline-block;
	border-radius:50%;
	padding: 0.05rem;
	background-color: #ddd;
}