body{
	background-color:#f2f2f2;
}
.mui-content {
    height: calc(100vh);
    height: -moz-calc(100vh);
    height: -webkit-calc(100vh);
    background-color:#fff!important;
}
.swiper-container {
    background-color: #fff;
}
.addBtn{
	position: absolute;
	top: 82%;
	left: 85%;
	color: #fff;
	font-size:.85rem;
	background: url(../../iconAll/img/addphoto.png)no-repeat center;
	background-size: .5rem;
	background-color: #04a7ff;
	width: .85rem;
	height: .85rem;
	border-radius: 50%;
	z-index: 5;
	opacity: .8;

}
/*.head {*/
	/*background-color: #fff !important;*/
	/*border-bottom: 1px solid #eee;*/
	/*box-shadow: 0 4px 5px -3px #eee;*/
	/*height: 0.89rem !important;*/
/*}*/

.mui-bar {
	padding: 0!important;
	height: 53px!important;
}
.mui-bar-nav {
	background-color: #fff !important;
	border-bottom: 1px solid #eee;
	box-shadow: 0 4px 5px -3px #eee;
	height: .89rem!important;
}
.mui-bar .mui-title{
	left: 30%;
	right: 30%;
}
.title {
	color: #000;
	height: 0.89rem !important;
	line-height: 0.89rem !important;
	font-size: 0.36rem !important;
}
.pullIcon{
	display: inline-block;width: 0.3rem;height:0.3rem;background-size:100% 100% !important;vertical-align: -10%;
}
/*.complete{*/
	/*background: url(../iconAll/img/icon-quan.png)no-repeat center;*/
/*}*/
/*.Already{*/
	/*background: url(../iconAll/img/icon-yi.png)no-repeat center;*/
/*}*/
/*.nonArrival{*/
	/*background: url(../iconAll/img/icon-wei.png)no-repeat center;*/
/*}*/
.backIcon {
	width: .5rem;
	height: .89rem;
	display: inline-block;
	float: left;
	background: url(../../iconAll/img/arrow.png) left center no-repeat;
	background-size: 50% 50%;
}
.pulldown{
	margin-top: .15rem;
	height: .6rem;
	width: .4rem;
	background: url(../../iconAll/img/sx.png)no-repeat center;
	background-size: 102% 67%;
}
.mui-navigate-right {
	font-size: .3rem;
}
.dropDownIcon {
	color: #999 !important;
	font-size: 0.3rem;
	padding-left: .8rem !important;
	background-repeat: no-repeat;
	background-size: 0.35rem 0.35rem;
	background-position: 0.25rem 45%;
}
.mui-table-view-cell>a:not(.mui-btn) {
	margin-left: 0!important;
	margin-right: 0!important;
	padding-right: 0!important;
}
.mui-table-view-cell.mui-collapse.mui-active .mui-table-view-cell>a:not(.mui-btn).mui-active{
	padding-left: .8rem!important;
}
.search_int{
	margin-right: 0.5rem;
}
.mui-scroll-wrapper {
	position: absolute;
	z-index: 2;
	top: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
}
.mui-scroll-wrapper {
	height: 100%!important;
	margin-bottom: 1rem!important;
	margin-top: .89rem;
}
.total_num {
	background-color: #fff;
	padding: .2rem;
	color: #444;
	font-size: .3rem;
	padding-left: .25rem;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}
.mui-off-canvas-right {
	background-color: #fff!important;
}
.butn {
	width: 100%!important;
	color: #444!important;
	position: absolute;
	bottom: 0;
	z-index: 2;
	background-color: #fff;
}
.butn div:nth-child(1) {
	border-top: 1px solid #f2f2f2;
	border-right: 1px solid #f2f2f2;
	color: #F32C29;
}
.butn div {
	height: .89rem;
	line-height: .89rem;
	text-align: center;
	width: 50%;
	font-size: .3rem;
	display: inline-block;
	float: left;
	color: #000;
}
.butn div:nth-child(2) {
	border-top: 1px solid #f2f2f2;
	color:#04a7ff;
}
.mui-table-view-cell>a:not(.mui-btn) {
	margin-left: 0!important;
	margin-right: 0!important;
	padding-right: 0!important;
}
.Icon_rig {
	width: .4rem;
	height: .4rem;
	margin-top: .25rem;
	display: inline-block;
	background: url(../../iconAll/img/ss.png) left center no-repeat;
	background-size: 100% 100%;
}

.head {
	padding: 0 0.2rem;
}
.self_height {
	font-size: .3rem;
	height: .8rem!important;
	line-height: .8rem;
	/* border-top: 1px solid #efeff4!important; */
	margin-top: 1rem;
	padding: 0 .2rem 0 .2rem;
	background-color: #fff;
	/* border-bottom: 1px solid #efeff4!important; */
}
.self_height div {
    display: inline-block;
    float: left;
    width: 33%;
    text-align: center;
}
/*时间筛选*/
.select-time{
	width: 100%;
	height: 1rem;
	background-color:#fff;
}
.select-time>small{
	display:block;
	float: left;
	width: 0.04rem;
	height: 0.42rem;
	background-color:#f2f2f2 ;
	margin-top: 0.32rem;
}
.start-time,.end-time{
	height: 1rem;
	line-height: 1rem;
	float: left;
	width: 49%;
	text-align: center;	
}
.start-time>span,.end-time>span{
	display: inline-block;
	*display: inherit;
	*zoom: 1;
	width: 0.3rem;
	height: 0.3rem;
	background-repeat:no-repeat ;
	background-size:100% 100% ;
	vertical-align: -4%;

}
.start-time>span{
	background-image:url(../../iconAll/img/select-time.png) ;
}
.end-time>span{
	background-image:url(../../iconAll/img/end-time.png) ;
	}
	
.start-time>a,.end-time>a{
	display: inline-block;
	height: 0.90rem;
	font-size: 0.3rem;
	color:#444;
	padding:0 0.44rem 0 0 ;
	background-image:url(../../iconAll/img/icon-spec.png);
	background-repeat:no-repeat ;
	background-position: right;
	background-size: 0.2rem 0.12rem;
	background-color: #fff;
    border: none;
}
/*全部列表*/
.listInfo{
	width: 100%;
}
p{
 margin-bottom:0 ;	
}
.personalInfo{
	width: 100%;
	height:1.18rem ;
	margin-top: 0.1rem;
	padding: 0 0.2rem;
	background-color:#fff ;
}
.infoLeft{
	float: left;
	width: 4.6rem;
	height: 1.18rem;
	line-height: 1.18rem;
	vertical-align: middle;
}
.infoLeft>span{
	display: inline-block;
	padding-left: 0.42rem;
	background-image:url(../../iconAll/img/icon-ddh.png);
	background-position:left ;
	background-size:0.28rem 0.34rem ;
	background-repeat: no-repeat;
	color:#c69450;
	font-size: 0.28rem;
}
.infoLeft>small{
	width: 30%;
	color:#c69450;
	font-size: 0.28rem;
}
.infoRight{
	float: left;
	width: 2.44rem;
	height: 1.18rem;
	line-height: 1.18rem;
	vertical-align: middle;
}
.infoRight>span{
	display: inline-block;
	padding-left: 0.42rem;
	background-image:url(../../iconAll/img/icon-khxm.png);
	background-position:left ;
	background-size:0.29rem 0.28rem ;
	background-repeat: no-repeat;
	font-size: 0.28rem;
	color: #444;
}
.infoRight>small{
	width: 30%;
	color: #444;
	font-size: 0.28rem;
}
/*加载数据提示*/
.loadPrompt{
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	display: none;
}
.loadPrompt>p{
	width: 100%;
	height: 100%;
}
.loadPrompt>p>span{
	display: inline-block;
	*display:inline;
	*zoom: 1;
	width: 0.3rem;
	height: 0.3rem;
	vertical-align: -5%;
	margin-left: 0.1rem;
}

.big_box {
    width: 100%;
    height: 1rem;
	line-height:1rem;
    padding: 0 .2rem;
    border-bottom: 1px solid #efeff4!important;
}
.big_box div {
    display: inline-block;
    float: left;
    width: 33%;
    height: 1rem;
    text-align: center;
}
.word_sty {
    color: #444!important;
    width: 51%;
    font-size: 15px;
    display: inline-block;
    line-height: 15px;
    text-align: left;
    font-size: 14px;
    text-overflow: ellipsis;
}
.time_sty {
    color: #444!important;
    margin-bottom: 0!important;
}
.name_style {
    color: #444!important;
   
}
.mui-table-view:before{
	height: 0!important;
}
.mui-table-view:after{
	height: 0!important;
}
.color{
	background-color: #fff;
}
.self{
	background-color: #eee;
}